{% extends 'base2.html.twig' %}
{% block active %}active-menu{% endblock %}
{% block Header %}
    <div class="col-md-12">

    <ol class="breadcrumb">
        <li><a href="{{ path('admin') }}">Inicio</a></li>
        <li><a href="{{ path('usuarios') }}">Usuarios</a></li>
        <li><a href="{{ path('empleados') }}">Empleados</a></li>
        <li class="active">Nuevo Usuario</li>
    </ol>
    <h2>Creando un nuevo usuario a partir de un empleado</h2>
    </div>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <!-- Form Elements -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Datos Personales
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Datos Complementarios</h3>

                            <form role="form" action="{{ path('nuevo_usuario', {'id': 'x'}) }}" method="post" >
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nombres </label>
                                        {% for empleado in empleado %}
                                            <input class="form-control" name="nombre" value="{{ empleado.primer_nombre }} {{ empleado.segundo_nombre }}" />
                                        {% endfor %}
                                    </div>
                                    <div class="form-group">
                                        <label>Apellidos </label>
                                        {% for empleado in empleado %}
                                            <input class="form-control" name="apellido" value="{{ empleado.primer_apellido }} {{ empleado.segundo_apellido }}"/>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group">
                                        <label>Correo </label>
                                        {% for empleado in empleado %}
                                        <input class="form-control" type="email" name="email" required/>
                                        {% endfor %}
                                    </div>

                                    <div class="form-group">
                                        <label>Telefono </label>
                                        <input class="form-control" type="text" name="tel" required max="9" placeholder="9999-9999"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="disabledSelect">Usuario</label>
                                        {% for empleado in empleado %}
                                            <input class="form-control" name="username" value="{{ empleado.usuario }}" readonly/>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group">
                                        <label for="disabledSelect">Password</label>
                                        {% for empleado in empleado %}
                                            <input class="form-control" name="pass" type="password" value="{{ empleado.password }}" readonly/>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group">
                                        <label for="disabledSelect">Id Empleado</label>
                                        {% for empleado in empleado %}
                                            <input class="form-control" name="id_emp" type="text" value="{{ empleado.id_empleado }}" readonly/>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group">
                                        <label>Tipo de Usuario</label>
                                        <select class="form-control" name="rol">
                                            <option value="1">Administrador</option>
                                            <option value="2">Docente</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12 col-md-offset-4">
                                    <button type="submit" style="width: 30%;" class="btn btn-primary">Guardar Usuario</button>
                                </div>

                            </form>
                        </div>


                    </div>
                </div>
            </div>
            <!-- End Form Elements -->
        </div>
    </div>

{% endblock %}
