{% extends 'base2.html.twig' %}
{% block active %}active-menu{% endblock %}
{% block Header %}
    <div class="col-md-12">

    <ol class="breadcrumb">
        <li><a href="{{ path('admin') }}">Inicio</a></li>
        <li><a href="{{ path('usuarios') }}">Usuarios</a></li>
        <li class="active">Nuevo Usuario</li>
    </ol>
    <h2>Creando un Nuevo Usuario</h2>
    </div>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <!-- Form Elements -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Datos Personales
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">

                            <form role="form" action="{{ path('nuevo_usuario') }}" method="post" >
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nombres </label>
                                            <input class="form-control" name="nombre" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" title="Debe introducir un Nombre sin numeros" required/>
                                    </div>
                                    <div class="form-group">
                                        <label>Apellidos </label>
                                            <input class="form-control" name="apellido" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" title="Debe introducir un Apellido sin numeros" required/>
                                    </div>
                                    <div class="form-group">
                                        <label>Correo </label>
                                        <input class="form-control" type="email" name="email" required/>
                                    </div>

                                    <div class="form-group">
                                        <label>Telefono </label>
                                        <input class="form-control" type="text" name="tel" required max="9" placeholder="9999-9999"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="disabledSelect">Usuario</label>
                                            <input class="form-control" name="username" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="disabledSelect">Password</label>
                                            <input class="form-control" name="pass" type="password" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="disabledSelect">DUI</label>
                                            <input class="form-control" name="id_emp" type="text" pattern="[0-9]{8}-[0-9]{1}" title="Debe introducir un DUI con formato 00000000-0" placeholder="00000000-0"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Tipo de Usuario</label>
                                        <select class="form-control" name="rol">
                                                {% for rol in rol %}
                                                    {% if rol.idRol!='2' and rol.idRol!='3' and rol.idRol!='4' %}
                                                        <option  value="{{ rol.idRol }}">{{ rol.nombreRol }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12" style="text-align: center">
                                    <button type="submit" style="width: 15%;" class="btn btn-primary">Guardar</button>
                                    <button type="reset" style="width: 15%;" class="btn btn-default">Limpiar</button>
                                </div>

                            </form>
                        </div>


                    </div>
                </div>
            </div>
            <!-- End Form Elements -->
        </div>
    </div>

{% endblock %}
