{% extends 'base2.html.twig' %}
{% block active %}active-menu{% endblock %}
{% block styles %}
    <link href="{{ asset('public/assets/js/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet"/>
{% endblock %}
{% block Header %}
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="{{ path('director') }}">Inicio</a></li>
            <li class="active">Solicitudes Enviadas</li>
        </ol>
        <h2>Aprobar o Denegar Solicitudes de Entrevistas</h2>
    </div>
{% endblock %}
{% block body %}
    <div class="col-md-12">
        <!--   Kitchen Sink -->
        <div class="panel panel-default">

            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                        <tr>
                            <th style="text-align: center">Fecha Cita</th>
                            <th style="text-align: center">Solicitante</th>
                            <th style="text-align: center">Curso</th>
                            <th style="text-align: center">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ct in citas %}
                            <tr>
                                <td style="text-align: center;">{{ ct.idHe.fechaDhe.format('d/m/Y') }}</td>
                                <td style="text-align: center;">{{ ct.idSolicitud.idDp.idUi.nombre }} {{ ct.idSolicitud.idDp.idUi.apellido }}</td>
                                <td style="text-align: center;">{{ ct.idSolicitud.idCurso.nombreCurso }}</td>
                                <td style="text-align: center;">
                                    <a href="{{ path('verDetalleSol',{'ids' : ct.idSolicitud.idSolicitud}) }}" title="Detalle" class="btn btn-default" style="background: #81379C;color: #ffffff;"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"/> Detalles</a>
                                    -
                                    <a href="{{ asset('/director/sol_aprobar') }}/{{ ct.idSolicitud.idSolicitud }}" title="Aprobar Solicitud" class="btn btn-default" style="background: #0AA5E2;color: #ffffff;"><span class="glyphicon glyphicon-ok" aria-hidden="true"/> Aprobar</a>
                                    -
                                    <a href="{{ asset('/director/sol_denegar') }}/{{ ct.idSolicitud.idSolicitud }}" title="Denegar Solicitud" class="btn btn-default" style="background: #2CA964;color: #ffffff;"><span class="glyphicon glyphicon-remove" aria-hidden="true"/> Denegar</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End  Kitchen Sink -->
    </div>


{% endblock %}
{% block javascripts %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <script>
            window.onload = function error(){
                alertify.error("{{ flashMessage }}.");
                return false;
            }
        </script>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('exito') %}
        <script>
            window.onload = function notificacion(){
                alertify.success("{{ flashMessage }}.");
                return false;
            }
        </script>
    {% endfor %}

    <script src="{{ asset('public/assets/js/dataTables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('public/assets/js/dataTables/dataTables.bootstrap.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>

{% endblock %}
