{% extends 'base2.html.twig' %}
{% block active1 %}active-menu{% endblock %}
{% block Header %}
    {% block styles %}
        <link href="{{ asset('public/assets/js/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet" />
        <link href="{{ asset('public/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet"/>
    {% endblock %}

    <div class="col-md-12">
    <ol class="breadcrumb">
        <li><a href="{{ path('secretaria') }}">Inicio</a></li>
        <li><a href="{{ path('usuarios2') }}">Usuarios</a></li>
        <li class="active">Editar Usuario</li>
    </ol>
    <h2>Editando un usuario: {{ usuario.nomusuario }}</h2>
    </div>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <!-- Form Elements -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Datos Personales
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Editar Datos Complementarios</h3>

                            <form role="form" action="{{ path('editar_usuario2', {'id': usuario.idUi}) }}" method="post" enctype="multipart/form-data" name="formulario">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nombres </label>
                                        <input value="{{ usuario.nombre}}" class="form-control" name="nombre" id="nombre" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" title="Debe introducir un Nombre sin numeros" required/>
                                    </div>
                                    <div class="form-group">
                                        <label>Apellidos </label>
                                        <input value="{{ usuario.apellido}}" class="form-control" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" title="Debe introducir un Apellido sin numeros" name="apellido" id="apellido" required/>
                                    </div>
                                    <div class="form-group">
                                        <label>Fecha de Nacimiento </label>
                                        <div class='input-group date' >
                                            <input value="{{ usuario.fechaNacimientoUi.format("d-m-Y") }}" id="fechaNac" class="form-control" name="fechaNac" size="16" type="text" placeholder="dd/mm/aaaa">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="disabledSelect">DUI</label>
                                        <input value="{{ usuario.idEmpleado}}" class="form-control" name="id_emp" id="id_emp" type="text" pattern="[0-9]{8}-[0-9]{1}" title="Debe introducir un DUI con formato 00000000-0" required placeholder="00000000-0"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Correo </label>
                                        <input value="{{ usuario.correo}}" class="form-control" type="email" name="email" id="email" required/>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form-control">Especialidad</label>
                                        <input value="{{ doc.especialidad}}" class="form-control" name="especialidad" id="especialidad" max="50" type="text" />
                                    </div>
                                    <div class="form-group">
                                        <label>Turno </label>
                                        <select class="form-control" name="turno">
                                            <option value="Lunes-Viernes: Mañana">Lunes-Viernes: Mañana</option>
                                            <option value="Lunes-Viernes: Tarde">Lunes-Viernes: Tarde</option>
                                            <option value="Lunes-Viernes: Noche">Lunes-Viernes: Noche</option>
                                            <option value="Lunes-Sabado: Mañana">Lunes-Sábado: Mañana</option>
                                            <option value="Lunes-Sabado: Tarde">Lunes-Sábado: Tarde</option>
                                            <option value="Sábados: Mañana">Sábados: Mañana</option>
                                            <option value="Sábados: Tarde">Sábados: Tarde</option>
                                            <option value="Cualquier Horario">Cualquier Horario</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="disabledSelect">Usuario</label>
                                        <input value="{{ usuario.nomusuario }}" class="form-control" name="username" readonly />
                                    </div>
                                    <div class="form-group">
                                        <label>Teléfono </label>
                                        <input value="{{ usuario.telefono }}" class="form-control" type="text" name="tel" id="tel" max="9" placeholder="7777-7777" pattern="[1-9]{4}-[0-9]{4}"/>
                                    </div>

                                </div>
                                <div class="col-md-12" style="text-align: center">
                                    <button onclick="validar()" type="button" style="width: 15%;margin-top: 10px" class="btn btn-primary">Guardar Usuario</button>
                                    <button type="reset" style="width: 15%;margin-top: 10px" class="btn btn-default">Restaurar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Form Elements -->
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/js/moment.js') }} "></script>
    <script src="{{ asset('public/js/bootstrap-datetimepicker.min.js') }} "></script>

    <script type="text/javascript">

        $(function () {
            $("#fechaNac").datetimepicker({format: 'DD-MM-YYYY'});
        });

        /*funciones para validar que las fechas no estén invertidas*/
        function validar() {
            var nombre = document.getElementById('nombre').value;
            var apellido = document.getElementById('apellido').value;
            var dui = document.getElementById('id_emp').value;
            var correo = document.getElementById('email').value;
            var esp = document.getElementById('especialidad').value;
            var tel = document.getElementById('tel').value;

            var fechaNac = (new Date (document.getElementById('fechaNac').value.replace( /(\d{2})-(\d{2})-(\d{4})/, "$2/$1/$3")));

            if (nombre == '' && apellido == '' && dui == '' && correo == '' && esp == '' && tel == '' && fechaNac == 'Invalid Date') {
                alertify.error("Es Obligatorio Llenar Los Campos Requeridos");
            } else {
                if (nombre == '') {
                    alertify.error("Es Obligatorio Llenar el Nombre del Tutor");
                } else {
                    if (apellido == '') {
                        alertify.error("Es Obligatorio Llenar el Apellido del Tutor");
                    } else {
                        if (fechaNac == 'Invalid Date') {
                            alertify.error("Es Obligatorio Llenar la Fecha de Nacimiento");
                        } else {

                            if (dui == '') {
                                alertify.error("Es Obligatorio Llenar el Numero de DUI");
                            } else {
                                if (correo == '') {
                                    alertify.error("Es Obligatorio Llenar el Correo");
                                } else {
                                    if (esp == '') {
                                        alertify.error("Es Obligatorio Llenar la Especialización");
                                    } else {
                                        if (tel == '') {
                                            alertify.error("Es Obligatorio Llenar el Teléfono");
                                        } else {
                                            /*identifica el nombre del formulario*/
                                            document.formulario.submit()
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    </script>
{% endblock %}

