{% extends 'base2.html.twig' %}
{% block active1 %}active-menu{% endblock %}
{% block Header %}
    <div class="col-md-12">

    <ol class="breadcrumb">
        <li><a href="{{ path('secretaria') }}">Inicio</a></li>
        <li><a href="{{ path('usuarios2') }}">Usuarios</a></li>
        <li class="active">Editar Usuario</li>
    </ol>
    <h2>Editando un usuario</h2>
    </div>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <!-- Form Elements -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Datos Personales
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Editar Datos Complementarios</h3>

                            <form role="form" action="{{ path('editar_usuario2', {'id': usuario.idUi}) }}" method="post" >
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nombres </label>
                                            <input class="form-control" name="nombre" value="{{ usuario.nombre }}" />

                                    </div>
                                    <div class="form-group">
                                        <label>Apellidos </label>
                                            <input class="form-control" name="apellido" value="{{ usuario.apellido}}"/>

                                    </div>

                                    <div class="form-group">
                                        <label>Telefono </label>
                                        <input class="form-control" type="text" name="tel" required max="9" value="{{ usuario.telefono }}" placeholder="9999-9999"/>
                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label for="disabledSelect">Usuario</label>
                                            <input class="form-control" name="username" value="{{ usuario.nomusuario }}" readonly/>
                                    </div>
                                    <div class="form-group">
                                        <label>Correo </label>
                                        <input class="form-control" type="email" name="email" value="{{ usuario.correo }}" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="disabledSelect">DUI</label>
                                            <input class="form-control" name="id_emp" type="text" value="{{ usuario.idEmpleado }}"/>
                                    </div>

                                </div>
                                <div class="col-md-12">
                                    <button type="reset" style="width: 20%;margin-top: 10px;float: left" class="btn btn-default">Restaurar</button>
                                    <button type="submit" style="width: 20%;margin-top: 10px;float: right" class="btn btn-primary">Actualizar Usuario</button>
                                </div>
                            </form>
                        </div>


                    </div>
                </div>
            </div>
            <!-- End Form Elements -->
        </div>
    </div>

{% endblock %}
