{% extends 'base2.html.twig' %}
{% block active %}active-menu{% endblock %}
{% block styles %}
    <link href="{{ asset('public/assets/js/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet"/>
{% endblock %}
{% block Header %}
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="{{ path('secretaria') }}">Inicio</a></li>
            <li><a href="{{ path('usuarios2') }}">Usuarios</a></li>
            <li class="active">Empleados</li>
        </ol>
        <h2>Crear Nuevo Usuario</h2>
    </div>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Buscar empleado para crear usuario
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                            <tr>
                                <th>Id_Empleado</th>
                                <th>DUI</th>
                                <th>Nombre Completo</th>
                                <th>Tipo Empleado</th>
                                <th>Usuario</th>
                                <th>Accion</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for empleados in empleados %}
                                <tr class="odd gradeX">
                                    <td>{{ empleados.id_empleado }}</td>
                                    <td>{{ empleados.dui }}</td>
                                    <td>{{ empleados.nombre_completo }}</td>
                                    <td class="center">{% if empleados.tipo_empleado==1 %}Docente{% else %}Administrativo{% endif %}</td>
                                    <td class="center">{{ empleados.usuario }}</td>
                                    <td class="center"><a
                                                href="{{ asset('secretaria/usuario/create') }}/{{ empleados.usuario }}"
                                                title="Nuevo Usuario" class="btn btn-default"
                                                style="background: #0AA5E2;color: #ffffff;">Crear</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('public/assets/js/dataTables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('public/assets/js/dataTables/dataTables.bootstrap.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>
{% endblock %}