{% extends 'base2.html.twig' %}
{% block active %}active-menu{% endblock %}
{% block Header %}
    {% block styles %}
        <link href="{{ asset('public/assets/js/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet" />
        <link href="{{ asset('public/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet"/>
    {% endblock %}

    <div class="col-md-12">
    <ol class="breadcrumb">
        <li><a href="{{ path('director') }}">Inicio</a></li>
        <li><a href="{{ path('usuarios2') }}">Usuarios</a></li>
        <li class="active">Nuevo Usuario</li>
    </ol>
    <h2>Creando un nuevo Tutor</h2>
    </div>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <!-- Form Elements -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Datos Personales
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Datos Complementarios</h3>
                            <form  action="{{ path('nuevo_usuario2') }}" method="post" enctype="multipart/form-data" name="formulario">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Fotografía </label>
                                        <input class="form-control" id="foto" type="file" name="foto" required/>
                                    </div>

                                    <div class="form-group">
                                        <label>Nombres </label>
                                            <input class="form-control" name="nombre" id="nombre" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" title="Debe introducir un Nombre sin numeros" required/>
                                    </div>
                                    <div class="form-group">
                                        <label>Apellidos </label>
                                            <input class="form-control" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" title="Debe introducir un Apellido sin numeros" name="apellido" id="apellido" required/>
                                    </div>
                                    <div class="form-group">
                                        <label>Fecha de Nacimiento </label>
                                        <div class='input-group date' >
                                            <input id="fechaNac" class="form-control" name="fechaNac" size="16" placeholder="dd/mm/aaaa" required>
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="disabledSelect">DUI</label>
                                        <input class="form-control" name="id_emp" id="id_emp" type="text" pattern="[0-9]{8}-[0-9]{1}" title="Debe introducir un DUI con formato 12345678-9" placeholder="######## - #" required />
                                    </div>
                                    <div class="form-group">
                                        <label>Correo </label>
                                        <input class="form-control" type="email" name="email" id="email" required/>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form-control">Especialidad</label>
                                        <input class="form-control" name="especialidad" id="especialidad" max="50" type="text" />
                                    </div>
                                    <div class="form-group">
                                        <label>Turno </label>
                                        <select class="form-control" name="turno">
                                            <option value="Lunes-Viernes: Mañana">Lunes-Viernes: Mañana</option>
                                            <option value="Lunes-Viernes: Tarde">Lunes-Viernes: Tarde</option>
                                            <option value="Lunes-Viernes: Noche">Lunes-Viernes: Noche</option>
                                            <option value="Lunes-Sabado: Mañana">Lunes-Sábado: Mañana</option>
                                            <option value="Lunes-Sabado: Tarde">Lunes-Sábado: Tarde</option>
                                            <option value="Sábados: Mañana">Sábados: Mañana</option>
                                            <option value="Sábados: Tarde">Sábados: Tarde</option>
                                            <option value="Cualquier Horario">Cualquier Horario</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="disabledSelect">Usuario</label>
                                            <input class="form-control" name="username" required />
                                    </div>
                                    <div class="form-group">
                                        <label for="disabledSelect">Contraseña</label>
                                            <input id="password" class="form-control" name="pass" type="password" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="disabledSelect">Confirmar Contraseña</label>
                                        <input id="confirm_password" class="form-control" type="password"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Teléfono </label>
                                        <input class="form-control" type="text" name="tel" id="tel" max="9" placeholder="#### - ####" pattern="[1-9]{4}-[0-9]{4}"/>
                                    </div>

                                </div>
                                <div class="col-md-12" style="text-align: center">
                                    <button type="submit" style="width: 15%;margin-top: 10px" class="btn btn-primary">Guardar Usuario</button>
                                    <button type="reset" style="width: 15%;margin-top: 10px" class="btn btn-default">Limpiar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Form Elements -->
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/js/moment.js') }} "></script>
    <script src="{{ asset('public/js/bootstrap-datetimepicker.min.js') }} "></script>

        <script type="text/javascript">

        $(function () {
            $("#fechaNac").datetimepicker({format: 'DD/MM/YYYY'});
        });

        var password = document.getElementById("password")
                , confirm_password = document.getElementById("confirm_password");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Contraseñas no coinciden!");
            } else {
                confirm_password.setCustomValidity('');
            }
        }
        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;

    </script>
{% endblock %}


