{% extends 'base2.html.twig' %}
{% block active %}active-menu{% endblock %}
{% block styles %}
    <link href="{{ asset('public/assets/js/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{ asset('public/assets/css/select2.min.css') }}">
    <link href="{{ asset('public/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet"/>
{% endblock %}
{% block Header %}
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="{{ path('director') }}">Inicio</a></li>
            <li><a href="{{ path('usuarios2') }}">Tutores</a></li>
            <li class="active">Detalles</li>
        </ol>
    </div>

{% endblock %}
{% block body %}
    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-content">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Detalles del Tutor: {{ tuto.nombre}} {{ tuto.apellido }}
                    </div>
                    <fieldset>
                        <div class="col-md-3" style="margin-top: 18px;margin-bottom: 18px">
                            <div class="control-group" >
                                <div class="controls" align="center">
                                    <a href="" onclick="window.open('{{ asset('public') }}/{{ tuto.foto}}');">
                                        <img src="{{ asset('public') }}/{{ tuto.foto }}" alt="img1" style="width: 150px; height: 150px;"></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3" class="col-md-3" style="margin-top: 18px;margin-bottom: 18px">
                            <div class="control-group" >
                                <label class="control-label" for="prependedInput">Nombre de Usuario</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        {{ tuto.nomusuario }}
                                    </div>
                                </div>
                                <br>
                            </div>
                            <div class="control-group" >
                                <label class="control-label" for="prependedInput">Fecha de Nacimiento</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        {{ tuto.fechaNacimientoUi.format("d/m/Y") }}
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="control-group" >
                                <label class="control-label" for="prependedInput">Especialidad</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        {{ doc.especialidad }}
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="control-group" >
                                <label class="control-label" for="prependedInput">Turno</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        {{ doc.turno }}
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3" class="col-md-3" style="margin-top: 18px;margin-bottom: 18px">
                            <div class="control-group" >
                                <label class="control-label" for="prependedInput">DUI</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        {{ tuto.idEmpleado }}
                                    </div>
                                </div>
                            </div>

                            <br>
                            <div class="control-group" >
                                <label class="control-label" for="prependedInput">Correo</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        {{ tuto.correo }}
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="control-group" >
                                <label class="control-label" for="prependedInput">Teléfono</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        {{ tuto.telefono }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3" class="col-md-3" style="margin-top: 18px;margin-bottom: 18px">
                            <div class="control-group" >
                                <label class="control-label" for="prependedInput">Asignado a Cursos</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        {% for cur in cur %}
                                            {% for cursos in curso %}
                                                {% if cur.id_curso == cursos.idCurso %}
                                        - {{ cursos.nombreCurso }}<br>
                                        {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>


                                <br>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <a class="btn btn-info" data-toggle="modal" data-target="#ModalImg"><i aria-hidden="true"></i> Cambiar Imagen </a>
                                    </div>
                                </div>


                            <!-- Modal -->
                            <div class="modal fade" id="ModalImg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></button>
                                            <h4 class="modal-title" id="myModalLabel">Cambiar imagen de {{ tuto.nombre }} {{ tuto.apellido }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="col-md-12">
                                                <form role="form" action="{{ path('camImgTu', {'id': tuto.IdUi}) }}" method="post" enctype="multipart/form-data" >

                                                    <div class="form-group">
                                                        <input class="form-control" id="imagen" name="imagen" type="file" required/>
                                                    </div>
                                                    <div class="col-md-12 col-md-offset-3">
                                                        <button type="submit" style="width: 30%;" class="btn btn-primary">Guardar </button>
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="modal-footer"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                </fieldset>

            </div>
        </div><!--/span-->

    </div><!--/row-->
{% endblock %}