{% extends '::base.html.twig' %}

{% block body -%}
    <h1>DetalleHorario</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Iddhe</th>
                <td>{{ entity.idDhe }}</td>
            </tr>
            <tr>
                <th>Horadhe</th>
                <td>{{ entity.horaDhe|date( 'H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechadhe</th>
                <td>{{ entity.fechaDhe|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Ocupado</th>
                <td>{{ entity.ocupado }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('detallehorario') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('detallehorario_edit', { 'id': entity.idDhe }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
