{% extends 'base2.html.twig' %}
{% block active %}active-menu{% endblock %}
{% block styles %}
    <link href="{{ asset('public/assets/js/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{ asset('public/assets/css/select2.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>
{% endblock %}
{% block Header %}
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="{{ path('admin') }}">Inicio</a></li>
            <li><a href="{{ path('verCurso') }}">Cursos</a></li>
            <li class="active">Crear</li>
        </ol>
        <h2>Crear Nuevo Curso</h2>
    </div>
{% endblock %}
{% block body %}
    <div class="row-fluid sortable">
        <div class="box span12">

            <div class="box-content">
                <form class="form-horizontal" action="{{ path('createCurso') }}" method="post" enctype="multipart/form-data">
                    <fieldset>
                        <div class="col-md-6">
                        <div class="control-group" >
                            <label class="control-label" for="prependedInput">Nombre Curso</label>
                            <div class="controls">
                                <div class="input-prepend">
                                    <input id="nombrecurso" class="form-control" name="nombrecurso" size="16" type="text" required>
                                </div>
                            </div>
                        </div>

                        <br>
                        <div class="control-group" >
                            <label class="control-label" for="prependedInput">Cantidad de Alumnos</label>
                            <div class="controls">
                                <div class="input-prepend">
                                    <input id="cant_alum" class="form-control" name="cant_alum" size="16" type="number" min="8" placeholder="Numero" required>
                                </div>
                            </div>
                        </div>

                        <br>
                            <div class="control-group" >
                                <label class="control-label" for="prependedInput">Descripcion Informacion</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <textarea name="des_info" class="form-control" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>

                            <br>
                            <div class="control-group" >
                                <label class="control-label" for="prependedInput">Tipo Curso</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <select id="tc" name="tc" class="form-control">
                                            {% for tc in tc %}
                                                <option  value="{{ tc.idTc }}">{{ tc.nombreTc }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6">
                            <div class="control-group" >
                                <label class="control-label" for="prependedInput">Numero de Cuotas</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <input id="nun_cuo" class="form-control" name="nun_cuo" size="16" type="number" min="1" placeholder="Numero" required>
                                    </div>
                                </div>
                            </div>

                        <br>
                        <div class="control-group" >
                            <label class="control-label" for="prependedInput">Broschure de Informacion (imagen)</label>
                            <div class="controls">
                                <div class="input-prepend">
                                    <input type="file" required name="imagen">
                                </div>
                            </div>
                        </div>
                            <br>
                            <div class="control-group" >
                                <label class="control-label" for="prependedInput">Archivo PDF</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <input type="file" required name="archivo">
                                    </div>
                                </div>
                            </div>

                            <br>
                            <div class="control-group" >
                                <label class="control-label" for="prependedInput">Asignar Doctores al Curso</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <select class="js-example-basic-multiple" class="form-control"  multiple="multiple"  name="doc[]">
                                            {% for doc in doc %}
                                                <option>{{ doc.id_doctores }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <br><br>
                        <div class="col-md-12" style="text-align: center; margin-top: 10px">
                            <button type="submit" class="btn btn-primary" style="width: 15%;">Guardar</button>
                            <button class="btn" style="width: 15%;">Cancel</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div><!--/span-->

    </div><!--/row-->
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('public/assets/js/select2.min.js') }}"></script>

    <script type="text/javascript">
        $(".js-example-basic-multiple").select2();
    </script>
{% endblock %}