{% extends 'base2.html.twig' %}
{% block active1 %}active-menu{% endblock %}



{% block styles %}
    <link href="{{ asset('public/assets/js/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('public/assets/css/select2.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">
    <script src={{ asset('public/js/moment.js') }}></script>

{% endblock %}


{% block Header %}
    <div class="col-md-12">

        <ol class="breadcrumb">
            <li><a href="{{ path('admin') }}">Inicio</a></li>
            <li><a href="{{ path('verInfo') }}">Informacion</a></li>
            <li class="active">Editar</li>
        </ol>
        <h2>Editar informacion Academica</h2>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <!-- Form Elements -->
            <div class="panel panel-default">

                <div class="panel-heading">
                    Informacion academica No . solicitud : {{ info.idSolicitud.idSolicitud }} , del usuario : {{ info.idSolicitud.idUi.nombre }}
                </div>


                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action="{{ path('editInfo', {'id': info.idIfacad}) }}" method="post" name="formulario2">
                                <fieldset>
                                    <div class="col-md-6">
                                        <div class="control-group">


                                            <div class="control-group">
                                                <label class="control-label" for="prependedInput">Nombre de Usuario / Solicitud a editar: </label>
                                                <div class="controls">
                                                    <div class="input-prepend">


                                                        <label for="info"></label><select id="select1" name="select1"  class="form-control"  >

                                                            <option value="0">Seleccione un usuario </option>

                                                            {% for resultado in result %}

                                                            {%  if info.idSolicitud.idUi.idUi == resultado.id_ui %}
                                                                <option selected value="{{ resultado.id_ui }}">{{ resultado.completo }} </option>
                                                            {% else %}
                                                                <option value="{{ resultado.id_ui }}">{{ resultado.completo }} </option>
                                                            {% endif %}

                                                            {% endfor %}
                                                        </select>
                                                    </div>

                                                    <br>

                                                    <div class="input-prepend" >
                                                        <select id="select2" name="select2" class="form-control" onfocus="cargarSelect2( cargarTabla() )" >
                                                            <option value="0">Solicitudes disponibles</option>
                                                        </select>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <br>

                                        <div class="form-group">
                                            <label>Instituto </label>
                                            <input id="instituto_txt"  class="form-control" name="instituto_txt" value="{{ info.institucion}}"/>
                                        </div>

                                        <div class="form-group">
                                            <label> Titutlo </label>
                                            <input id="titulo_txt" class="form-control"  name="titulo_txt" value="{{ info.titulo }}"/>
                                        </div>

                                        <div>
                                            <label class="control-label" for="prependedInput">Fecha de titulo</label>
                                            <label for="calendario_cl"></label>
                                            <input value="{{ info.fechaObtenido.format("Y-m-d") }}" id="calendario_cl" class="form-control" name="calendario_cl" size="16" type="date" required>
                                        </div>

                                    </div>

                                    <div class="col-md-12" style="text-align: center; margin-top: 10px">
                                        <br>
                                        <a onClick="validar()" type="submit" style="width: 30%;" class="btn btn-primary">
                                            Actualizar Informacion
                                        </a>

                                        <a  onclick="cancelar()" id="cancel"  type="button" class="btn"  name="cancel"  style="width: 15%;"  >
                                            Cancel
                                        </a>
                                    </div>


                                </fieldset>
                            </form>
                        </div>


                    </div>
                </div>
            </div>
            <!-- End Form Elements -->
        </div>
    </div>

{% endblock %}



{% block javascripts %}
    <script type="text/javascript">


        /*funciones para validar*/
        function validar() {

            var titulo1 = document.getElementById('titulo_txt').value;
            var instituto1 = document.getElementById('instituto_txt').value;
            var selection2 = document.getElementById('select2').value;



            var fechaObtenida1 = document.getElementById('calendario_cl').value;
            var fechaObtenida2 = moment(fechaObtenida1).format('DD/MM/YYYY');
            var fechaAhora = moment().format('DD/MM/YYYY');

            var dateA = moment(fechaAhora).format('DD/MM/YYYY');
            var dateO = moment(fechaObtenida1);
            var dateDays = 0;

            //alert(fechaObtenida2);
            //alert(fechaAhora);

            dateDays = dateO.diff(dateA, 'days');
            //alert(dateDays);




            if (selection2 = null | selection2 == 0 | fechaObtenida1 == '' | titulo1.length == 0 | instituto1.length == 0) {

                    alertify.error("Complete todos los campos por favor");
            } else {

                if (dateDays <= 0) {
                    alertify.error("Procesando ... Actualizando datos");
                    document.formulario2.submit();
                } else {
                    alertify.error("La fecha de titulo es mayor a a fecha actual");
                }
            }


        }

        /*funcion cancelar*/
        function cancelar() {
            var id = $('#select1').val();
            var id2 = {{ info.idSolicitud.idUi.idUi }};

            if (id2 != '' &  id2 != null &  id2 != 0 )
                location.href = "{{ asset('/admin/info/') }}" + id2;


        }



        $(document).ready(function () {
            $('#select1').change(function(){
                var id = $('#select1').val();
                $('#estados').load( cargarSelect2(id) );
            });
        })

        function cargarSelect2(valor){

            var valor1 = document.getElementById('select1').value;
            if (valor==0){
                document.getElementById("select2").disabled = true;
                document.getElementById("select2").options.length =0;
                document.getElementById("select2").options[0] =
                        new Option("Solicitudes disponibles","0");

            } else{
                document.getElementById("select2").disabled = false;
                document.getElementById("select2").options.length =0;
                document.getElementById("select2").options[0] =
                        new Option("Solicitudes disponibles","0");

                {%  for solicitud in sol %}
                var id_solicitud = {{ solicitud.idSolicitud }};
                var id_usuario = {{ solicitud.idUi.idUi }};



                if (valor == id_usuario){

                    // añadimos los nuevos elementos
                    //document.getElementById("select2").options[document.getElementById("select2").options.length]
                    //        = new Option(id_solicitud + "," + nombre);
                    document.getElementById("select2").options[document.getElementById("select2").options.length]
                            = new Option(id_solicitud);
                }
                {% endfor %}
                document.getElementById("select2").disable=false;
            }
        }

        function cargarTabla(){
            var idTbabla = $('#select1').val();
            //alert(idTbabla);
            return idTbabla
        }


    </script>
{% endblock %}