<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Escuela de Posgrados</title>
    <!-- Bootstrap -->
    <link href="{{ asset('principal/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('principal/css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('principal/css/queries.css') }}">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Sintony:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header class="clearfix">
    <div class="logo col-md-3"><h2 class="logo-text">SIGEPRADEST</h2></div>
    <nav class="clearfix">
        <ul class="clearfix">
            <li><a href="#" class="active">informacion</a></li>

            <li><a style="float: right" href="{{ path('register') }}">Registrarse</a></li>
        </ul>
    </nav>
    <div class="pullcontainer">
        <a href="{{ path('login') }}" class="btn btn-primary square-btn-adjust" style="float: right; margin: 15px">Iniciar Sesión</a>
        <a href="#" id="pull"><i class="fa fa-bars fa-2x"></i></a>
    </div>
</header>
<div class="banner">
    <ul>
        <li style="background-image: url('{{ asset("principal/img/01.jpg") }}');">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="hero-title">
                            ESCUELA DE POSGRADO
                        </div>
                        <p class="hero-content">El éxito en tus manos.</p>
                        <a href="#" class="hero-btn">CURSOS DISPONIBLES</a>
                    </div>
                </div>
            </div>
        </li>
        <li style="background-image: url('{{ asset("principal/img/02.jpg") }}');">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="hero-title">
                            FACULTAD DE ODONTOLOGÍA
                        </div>
                        <p class="hero-content">Universidad de El Salvador.</p>
                        <a href="#" class="hero-btn">CURSOS DISPONIBLES</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="container">
    <div class="arrow"></div>
</div>
<div class="container carousel">
    <div class="row">
        <br/>

        {% for cursos in cursos %}
            {% if cursos.estadoCurso=='disponible' %}
        <div class="col-md-4">
            <div class="ca-hover">
                <div class="carousel-img">
                    <img height="300px" src="{{ asset('public') }}/{{ cursos.broshureInformativo }}" alt="Carousel Img">
                </div>
                <div class="carousel-content">
                    <h3>{{ cursos.nombreCurso }}</h3>
                    <p>{{ cursos.textoInformativo }}</p>
                </div>
                <div class="overlay"></div>
            </div>
        </div>
        {% else %}
            <h1>No hay Cursos Disponibles</h1>
            {% endif %}
        {% endfor %}

    </div>
</div>
<div class="text-inter">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Misión.</h3>
                <p>Unidad académica sin fines de lucro, pluralista, responsable de formar profesionales de la odontología, especializados al más alto nivel, mediante los programas de educación continuada, maestrías, especialidades y doctorados; con alto grado de desarrollo ético, preventivo, científico-técnico y social. A fin de mejorar el nivel de educación superior para contribuir a la solución de los problemas de salud bucal de los salvadoreños.</p>
            </div>
            <div class="col-md-6">
                <h3>Visión.</h3>
                <p>Ser una institución pública, lider vanguardista en excelencia académica, reconocida internecionalmente por su calidad científica, constante renovacion, capacidad investigativa y nacionalmente por su incidencia de propuesta frente a los problemas del país.</p>
            </div>
        </div>
    </div>
</div>
<div class="h2-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="standard-block">Justificación para su creación</h2>
            </div>
        </div>
    </div>
</div>

<div class="quote-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-10 col-md-offset-1">
                    <div class="quote-slideshow" style="text-align: center">
                        <figure class="show"><h2>Oportunidad de formación de posgrados limitada</h2>
                            <figcaption>
                                Obligación académica de dar continuidad a la formación permanente.
                            </figcaption>
                        </figure>
                        <figure><h2>Constituir semillero para futuros docentes en la Facultad</h2>
                            <figcaption>
                                Constituir semillero para futuros docentes en la Facultad.
                            </figcaption>
                        </figure>
                        <figure><h2>Mejorar la calidad de su formación.</h2>
                            <figcaption>

                            </figcaption>
                        </figure>
                    </div>
                </div>
                <span class="quote-prev circle"><i class="fa fa-angle-left fa-2x"></i></span>
                <span class="quote-next circle"><i class="fa fa-angle-right fa-2x"></i></span>
            </div>
        </div>
    </div>
</div>
<div class="shadow"></div>
<div style="background: #1a1a1a; color: #fff;">
    <div class="container" style="height: auto;">
        <div class="row">
            <div class="col-md-2">
                <h2>SIGEPRADEST</h2>
            </div>
            <div class="col-md-4">
                <p>Somos una unidad académica sin fines de lucro, pluralista, responsable de formar profesionales de la odontología, especializados al más alto nivel.</p>
            </div>
            <div class="col-md-3">
                <p>Call Tel: 22251490 Ext. 108 <br/>Cel: 7615 1601</p>
                <p>Email: postgrado.foues@ues.edu.sv</p>
            </div>
            <div class="col-md-2">
                <ul class="footer-links">
                    <li><a href="https://www.facebook.com/Escuela-de-Posgrado-FOUES-648107981952317/">Facebook</a></li>
                    <li><a href="{{ path('login') }}">Mas informacion</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{ asset('principal/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('principal/js/scripts.js') }}"></script>
<script src="{{ asset('principal/js/unslider.min.js') }}"></script>
</body>
</html>