{% extends 'base2.html.twig' %}
{% block active %}active-menu{% endblock %}
{% block styles %}
    <link href="{{ asset('public/assets/js/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{ asset('public/assets/css/select2.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>
{% endblock %}
{% block Header %}
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="{{ path('admin') }}">Inicio</a></li>
            <li><a href="{{ path('verCurso') }}">Cursos</a></li>
            <li><a href="{{ path('createCurso') }}">Crear</a></li>
            <li class="active">Horario</li>
        </ol>
        <h2>Crear Horario Para Curso</h2>
    </div>
{% endblock %}
{% block body %}
    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-content">
                <form class="form-horizontal" action="{{ path('addHorario') }}" method="post" enctype="multipart/form-data" name="formulario1">
                    <fieldset>
                        <div class="col-md-6">
                            <div class="control-group" >
                                <label class="control-label" for="prependedInput">Id Curso</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                    <input value="{{ id }}" type="text" id="idCurso" name="idCurso" class="form-control"  size="16"  readonly>
                                    </div>
                                </div>
                            </div>

                            <br>
                            <div class="control-group" >
                                <label class="control-label" for="prependedInput">Fecha Inicio Curso</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <input id="fechaini" class="form-control" name="fechaini" size="16" type="date" required>
                                    </div>
                                </div>
                            </div>

                            <br>
                            <div class="control-group" >
                                <label class="control-label" for="prependedInput">Fecha Fin Curso</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <input id="fechafin" class="form-control" name="fechafin" size="16" type="date" required>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="control-group" >
                                <label class="control-label" for="prependedInput">Nombre Curso</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <input value="{{ nom }}" type="text" id="nomCurso" name="nomCurso" class="form-control"  size="16"  readonly>
                                    </div>
                                </div>
                            </div>

                            <br>
                            <div class="control-group" >
                                <label class="control-label" for="prependedInput">Inicio Recepcion Documentos</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <input id="fechainirec" class="form-control" name="fechainirec" size="16" type="date" required>
                                    </div>
                                </div>
                            </div>

                            <br>
                            <div class="control-group" >
                                <label class="control-label" for="prependedInput">Fin Rescepcion Documentos</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <input id="fechafinrec" class="form-control" name="fechafinrec" size="16" type="date" required>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <br><br>
                        <div class="col-md-12" style="text-align: center; margin-top: 10px">
                            <button onClick="validar()" type="button" class="btn btn-primary" style="width: 15%;">Guardar</button>
                            <button class="btn" style="width: 15%;">Cancel</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div><!--/span-->

    </div><!--/row-->
{% endblock %}
{% block javascripts %}
    <script>
        /*funciones para validar que las fechas no esten invertidas*/
        function validar() {
            var iniciocurso = document.getElementById('fechaini').value;
            var finalcurso  = document.getElementById('fechafin').value;
            var iniciodocu = document.getElementById('fechainirec').value;
            var finaldocu  = document.getElementById('fechafinrec').value;

            if ( iniciocurso == '' || finalcurso =='' || iniciodocu=='' || finaldocu=='') {
                alertify.error("Complete todos los campos por favor");
            } else {

                if (iniciocurso > finalcurso || iniciodocu > finaldocu){
                    alertify.error("La fecha de inicio debe ser menor que la fecha de fin del curso");
                } else {
                    /*identifica el nombre del formulario*/
                    document.formulario1.submit();
                }
            }
        }
    </script>
{% endblock %}