{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Lista de horarios de Curso</h1>

    <table class="table table-striped table-bordered bootstrap-datatable datatable">
        <thead>
            <tr>
                <th>Idhc</th>
                <th>Fechainicio</th>
                <th>Fechafin</th>
                <th>Iniciorecepdoc</th>
                <th>Finrecepdoc</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('horario_curso_show', { 'id': entity.idHc }) }}">{{ entity.idHc }}</a></td>
                <td> {% if entity.fechaInicio %}{{ entity.fechaInicio|date('Y-m-d H:i:s') }}{% endif %}  </td>
                <td>{% if entity.fechaFin %}{{ entity.fechaFin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.inicioRecepDoc %}{{ entity.inicioRecepDoc|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.finRecepDoc %}{{ entity.finRecepDoc|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('horario_curso_show', { 'id': entity.idHc }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('horario_curso_edit', { 'id': entity.idHc }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('horario_curso_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
