{% extends 'base2.html.twig' %}
{% block active %}active-menu{% endblock %}
{% block styles %}
    <link href="{{ asset('public/assets/js/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet"/>
{% endblock %}
{% block Header %}
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="{{ path('curriculumAlumTo')}}">Inicio</a></li>
            <li class="active">Experiencia Laboral</li>
        </ol>
        <h2>Experiencia Laboral</h2>
    </div>
{% endblock %}
{% block body %}
<div class="col-md-12">
    <!--   Kitchen Sink -->
    <div class="panel panel-default">
        <div class="panel-heading">
            Experiencia Laboral  <a href="{{ path('alumno_experiencialaboral_new') }}" style="float: right; margin-top: -5px;" title="Agregar" class="btn btn-success">Nueva Experiencia Laboral</a>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                    <tr>

                        <th>Institución</th>
                        <th>Cargo</th>
                        <th>Pais</th>
                        <th>Fecha de inicio</th>
                        <th>Fecha Fin</th>
                        <th>Información adicional</th>
                        <th>Acciones </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>{{ entity.institucionEl }}</td>
                            <td>{{ entity.cargoEl }}</td>
                            <td>{{ entity.paisEl }}</td>
                            <td>{% if entity.fechaInicioEl %}{{ entity.fechaInicioEl|date('Y-m-d') }}{% endif %}</td>
                            <td>{% if entity.fechaFinEl %}{{ entity.fechaFinEl|date('Y-m-d') }}{% endif %}</td>
                            <td>{{ entity.infoAdicionalEl }}</td>
                            <td>
                                <ul>

                                    <a class="btn btn-default" style="background: #0AA5E2;color: #ffffff;" href="{{ path('alumno_experiencialaboral_show', { 'id': entity.idEl }) }}"> <span class="glyphicon  glyphicon-eye-open" aria-hidden="true" /> </a>

                                    <a class="btn btn-primary"  href="{{ path('alumno_experiencialaboral_edit', { 'id': entity.idEl }) }}">  <span class="glyphicon glyphicon-pencil" aria-hidden="true" /></a>





                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>


            </div>
        </div>
    </div>
    <ul>
        <li>

            <a href="{{ path('curriculumAlumTo')}}">
                Regresar a gestión de currículum
            </a>
        </li>
    </ul>

    {% endblock %}
    {% block javascripts %}
        {% for flashMessage in app.session.flashbag.get('error') %}
        <script>
            window.onload = function error(){
                alertify.error("{{ flashMessage }}.");
                return false;
            }
        </script>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('exito') %}
        <script>
            window.onload = function notificacion(){
                alertify.success("{{ flashMessage }}.");
                return false;
            }
        </script>
        {% endfor %}

        <script src="{{ asset('public/assets/js/dataTables/jquery.dataTables.js') }}"></script>
        <script src="{{ asset('public/assets/js/dataTables/dataTables.bootstrap.js') }}"></script>
        <script>
            $(document).ready(function () {
                $('#dataTables-example').dataTable();
            });
        </script>

    {% endblock %}




