{% extends '::base2.html.twig' %}

{% block body -%}
    <h1>FormacionAcademica creationa</h1>
    {{ form_start(form) }}
    {#{{ form(form) }}#}
    {#{{form_widget(form.tipoFa,{"attr":{"style":"background-color:white;"}})}}#}
    {#{{form_widget(form.institucionFa,{"attr":{"style":"background-color:white;"} })}}#}
    {#{{form_widget(form.fechaInicioFa,{"attr":{"style":"background-color:white;"} })}}#}
    {#{{form_widget(form.fechaFinFa,{"attr":{"style":"background-color:white;"} })}}#}
    {#{{form_widget(form.formal,{"attr":{"style":"background-color:white;"} })}}#}
    {#{{form_widget(form.imgTitulo,{"attr":{"style":"background-color:white;"} })}}#}
    {{form_widget(form.idCurriculum, {'value': curriculum, "attr":{"style":"display:none;"}}) }}
    {{ form_end(form) }}
        <ul class="record_actions">
    <li>
        <a href="{{ path('alumnoformacionacademicaCurriculum' ,{ 'cur': curriculum }) }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
