{% extends 'base3.html.twig' %}
{% block active %}active-menu{% endblock %}

{% block styles %}
    <link href="{{ asset('public/assets/js/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('public/assets/css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('public/css/bootstrap-datepicker.min.css') }}"/>
{% endblock %}

{% block Header %}
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="{{ path('secretaria') }}">Inicio</a></li>
            <li><a href="{{ path('verInfoSecre') }}">Informacion Academica</a></li>
            <li class="active">Crear</li>
        </ol>
        <h2>Crear Nueva Información</h2>
    </div>
{% endblock %}

{% block body %}
    <div class="row-fluid sortable">
        <form class="form-horizontal" action="{{ path('createInfoSecre') }}" method="POST" enctype="multipart/form-data"
              name="formulario2">
            <div class="box span12">
                <div class="box-content">
                    <fieldset>
                        <br><br>
                        <div class="col-md-6">

                            <div class="control-group">


                                <label class="control-label" for="prependedInput"> Buscar usuario / enviar </label>
                                <div class="input-group">
                                    <input id="InputSelect1_txt" name= "InputSelect1_txt"  list="lista1_list" placeholder="Escriba el nombre de usuario / enter" class="form-control">
                                    <span class="input-group-addon">  </span>
                                    <input type="button" id = "desplegar_btn" name="desplegar_btn" onclick="cargarSelect()" class="form-control" value="Mostrar">
                                </div>
                            </div>




                            <div class="control-group">
                                <div class="controls">

                                    <div class="input-prepend">
                                        <datalist id="lista1_list" name="lista1_list" >
                                            {% for resultado in result %}
                                                <option data-value="{{ resultado.id_ui }}">{{resultado.completo}} </option>
                                            {% endfor %}
                                        </datalist>
                                    </div>

                                    <br>

                                    <div class="input-prepend" >
                                        <select id="select2" name="select2" class="form-control" >
                                            <option value="0">Solicitudes disponibles</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                            <br>
                        </div>

                        <div class="col-md-6">
                            <br>
                            <div class="control-group">
                                <label class="control-label" for="prependedInput">Instituto</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <input id="instituto_txt" class="form-control" name="instituto_txt"
                                               size="16" type="text" placeholder="Instituto" required>
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="prependedInput">Titulo</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <input id="titulo_txt" class="form-control" name="titulo_txt" size="16"
                                               type="text" placeholder="Titulo" required>
                                    </div>
                                </div>
                            </div>

                            <div class="control-group" >
                                <label class="control-label" for="prependedInput">Año del titulo </label>

                                <div class='input-group date' id='datetimepicker9'>
                                    <input type='text' id="calendario_cl" name = "calendario_cl" class="form-control" />
                                    <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar">
                                    </span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" style="text-align: center; margin-top: 10px">
                            <br>
                            <a onClick="validar()" type="submit" style="width: 30%;" class="btn btn-primary">
                                Guardar Informacion
                            </a>

                            <a href="{{ path('verInfoSecre') }}" onclick="cancelar()" id="cancel"  type="button" class="btn"  name="cancel"  style="width: 15%;"  >
                                Cancel
                            </a>
                        </div>

                    </fieldset>

                </div>
            </div><!--/span-->
        </form>
    </div><!--/row-->
{% endblock %}

{% block javascripts %}

    <script src="{{ asset('public/js/moment.js') }} "></script>
    <script src="{{ asset('public/assets/js/select2.min.js') }}"></script>
    <script src="{{ asset('public/js/bootstrap-datepicker.min.js') }} "></script>

    <script type="text/javascript">

        $(document).ready(function () {


            $('#InputSelect1_txt').change(function(){

                var dato = $("input[name=InputSelect1_txt]").val();
                options = document.querySelectorAll('#lista1_list option');
                var encontrado = 0;

                for(var i = 0; i < options.length; i++) {
                    var option = options[i];
                    //var nombreCompletoList = option.innerText;
                    //alert( dato.localeCompare(nombreCompletoList) );

                    if( option.innerText.trim().valueOf() == dato.trim().valueOf() ){
                        encontrado = option.getAttribute('data-value');
                    }
                }

                if (encontrado != 0){
                    cargarSelect2(encontrado);
                }else {
                    document.getElementById("InputSelect1_txt").value = "";
                    cargarSelect2(encontrado);
                }

            });
        })


        $(function () {
            $('#datetimepicker9').datepicker({
                minViewMode: 2,
                format: 'yyyy'
            });
        });





        /*funciones para validar*/
        function validar() {

            var titulo1 = document.getElementById('titulo_txt').value;
            var instituto1 = document.getElementById('instituto_txt').value;
            var selection2 = document.getElementById('select2').value;


            var fechaObtenida1 = document.getElementById('calendario_cl').value;
            var fechaAhora = moment().format('DD-MM-YYYY');
            var diferencia = CalcularAños(fechaObtenida1,fechaAhora,"-");


            if (selection2 == null | selection2 == 0 | fechaObtenida1 == '' |titulo1.length == 0 | instituto1.length == 0 ) {
                alertify.error("Complete todos los campos por favor");
            } else {
                if (diferencia >= 0) {
                    alertify.error("Procesando ... guardado");
                    document.formulario2.submit();
                } else {
                    alertify.error("El año del titulo es mayor a a fecha actual");
                }
            }
        }
        /*funcion cancelar*/
        function cancelar() {
            alertify.error("Has cancelado la operacion")
            document.formulario2.href = " {{ path('verInfoSecre') }}";
        }


        function cargarSelect( ){

            var dato = $("input[name=InputSelect1_txt]").val();
            options = document.querySelectorAll('#lista1_list option');
            var encontrado = 0;

            for(var i = 0; i < options.length; i++) {
                var option = options[i];
                //var nombreCompletoList = option.innerText;
                //alert( dato.localeCompare(nombreCompletoList) );

                if( option.innerText.trim().valueOf() == dato.trim().valueOf() ){
                    encontrado = option.getAttribute('data-value');
                }
            }

            if (encontrado != 0){
                cargarSelect2(encontrado);
            }else {
                document.getElementById("InputSelect1_txt").value = "";
                cargarSelect2(encontrado);
            }
        }


        function cargarSelect2(valor){

            if (valor==0){
                document.getElementById("select2").disabled = true;
                document.getElementById("select2").options.length =0;
                document.getElementById("select2").options[0] =
                        new Option("No existen solicitudes disponibles","0");

            } else{
                document.getElementById("select2").disabled = false;
                document.getElementById("select2").options.length =0;
                document.getElementById("select2").options[0] =
                        new Option("Existen Solicitudes disponibles","0");

                {%  for solicitud in sol %}
                var id_solicitud = {{ solicitud.idSolicitud }};
                var id_usuario = {{ solicitud.idUi.idUi }};

                if (valor == id_usuario){

                    document.getElementById("select2").options[document.getElementById("select2").options.length]
                            = new Option(id_solicitud);
                }
                {% endfor %}
                document.getElementById("select2").disable=false;
            }
        }


        function CalcularAños(año,fecha2,separador) {
            var aFecha2 = fecha2.split(separador);
            var dif = aFecha2[2] - año;
            return dif;
        }

    </script>
{% endblock %}