{% extends 'base3.html.twig' %}
{% block active1 %}active-menu{% endblock %}

{% block styles %}
    <link href="{{ asset('public/assets/js/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('public/assets/css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('public/css/bootstrap-datepicker.min.css') }}"/>
{% endblock %}

{% block Header %}
    <div class="col-md-12">

        <ol class="breadcrumb">
            <li><a href="{{ path('secretaria') }}">Inicio</a></li>
            <li><a href="{{ path('verInfoSecre' , {'seleccion': info.idSolicitud.idUi.idUi} ) }}">Información Académica</a></li>
            <li class="active">Editar</li>
        </ol>
        <h2>Editar Información Académica</h2>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <!-- Form Elements -->
            <div class="panel panel-default">

                <div class="panel-heading">
                    Informacion academica No . solicitud : {{ info.idSolicitud.idSolicitud }} , del usuario : {{ info.idSolicitud.idUi.nombre }}
                </div>


                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action="{{ path('editinfoSecre', {'id': info.idIfacad}) }}" method="post" name="formulario2"  id="formulario2">
                                <fieldset>
                                    <div class="col-md-6">
                                        <div class="control-group">

                                            <div class="control-group">


                                                <label class="control-label" for="prependedInput"> Buscar usuario / enviar </label>
                                                <div class="input-group">
                                                    <input id="InputSelect1_txt" name= "InputSelect1_txt"  list="lista1_list" placeholder="Escriba el nombre de usuario / enter" class="form-control">
                                                    <span class="input-group-addon">  </span>
                                                    <input type="button" id = "desplegar_btn" name="desplegar_btn" onclick="cargarSelect()" class="form-control" value="Mostrar">
                                                </div>
                                            </div>

                                            <div class="control-group">
                                                <div class="controls">
                                                    <div class="input-prepend">
                                                        <div class="input-prepend">

                                                            <datalist id="lista1_list" name="lista1_list" >
                                                                {% for resultado in result %}

                                                                    {%  if info.idSolicitud.idUi.idUi == resultado.id_ui %}
                                                                        <option selected data-value="{{ resultado.id_ui }}">{{resultado.completo}} </option>
                                                                    {% else %}
                                                                        <option data-value="{{ resultado.id_ui }}">{{resultado.completo}} </option>
                                                                    {% endif %}

                                                                {% endfor %}
                                                            </datalist>
                                                        </div>

                                                    </div>

                                                    <br>

                                                    <div class="input-prepend" >
                                                        <select id="select2" name="select2" class="form-control"  >
                                                            <option value="0">Solicitudes disponibles</option>
                                                        </select>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <br>

                                        <div class="form-group">
                                            <label>Instituto </label>
                                            <input id="instituto_txt"  class="form-control" name="instituto_txt" value="{{ info.institucion}}"/>
                                        </div>

                                        <div class="form-group">
                                            <label> Titutlo </label>
                                            <input id="titulo_txt" class="form-control"  name="titulo_txt" value="{{ info.titulo }}"/>
                                        </div>

                                        <div class="control-group" >
                                            <label class="control-label" for="prependedInput">Año del titulo </label>
                                            <div class='input-group date' id='datetimepicker9'>
                                                <input type='text' id="calendario_cl" name = "calendario_cl" value="{{ info.anio }}" class="form-control" />
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"> </span>
                                                </span>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="col-md-12" style="text-align: center; margin-top: 10px">
                                        <br>
                                        <a onClick="validar()" type="submit" style="width: 30%;" class="btn btn-primary">
                                            Actualizar Informacion
                                        </a>

                                        <a  onclick="cancelar()" id="cancel"  type="button" class="btn"  name="cancel"  style="width: 15%;"  >
                                            Cancel
                                        </a>
                                    </div>


                                </fieldset>
                            </form>
                        </div>


                    </div>
                </div>
            </div>
            <!-- End Form Elements -->
        </div>
    </div>

{% endblock %}



{% block javascripts %}

    <script src="{{ asset('public/js/moment.js') }} "></script>
    <script src="{{ asset('public/assets/js/select2.min.js') }}"></script>
    <script src="{{ asset('public/js/bootstrap-datepicker.min.js') }} "></script>

    <script type="text/javascript">


        /*funciones para validar*/
        function validar() {

            var titulo1 = document.getElementById('titulo_txt').value;
            var instituto1 = document.getElementById('instituto_txt').value;
            var selection2 = document.getElementById('select2').value;

            var fechaObtenida1 = document.getElementById('calendario_cl').value;
            var fechaAhora = moment().format('DD-MM-YYYY');
            var diferencia = CalcularAños(fechaObtenida1,fechaAhora,"-");



            if (selection2 = null | selection2 == 0 | fechaObtenida1 == '' | titulo1.length == 0 | instituto1.length == 0) {

                alertify.error("Complete todos los campos por favor");
            } else {

                if (diferencia >= 0) {
                    alertify.error("Procesando ... Actualizando datos");
                    document.formulario2.submit();
                } else {
                    alertify.error("La fecha de titulo es mayor a a fecha actual");
                }
            }
        }

        /*funcion cancelar*/
        function cancelar() {

            var id2 = {{ info.idSolicitud.idUi.idUi }};

            if (id2 != '' &  id2 != null &  id2 != 0 ){
                var url = '{{ path("verInfoSecre", {'seleccion': 'opcion'}) }}'.replace('opcion',id2);
                location.href = url;
            }

        }

        $(document).ready(function () {

            var relationshipTemp = $('#lista1_list option:selected').attr('data-value');
            document.getElementById("InputSelect1_txt").value = $('#lista1_list option:selected').text().trim();
            //alert(relationshipTemp);
            //cargarSelect2(relationshipTemp);

            i = 0;
            {%  for solicitud in sol %}


            var id_solicitud = {{ solicitud.idSolicitud }};
            var id_usuario = {{ solicitud.idUi.idUi }};


            if (relationshipTemp == id_usuario){
                i = i+1;

                // añadimos los nuevos elementos
                document.getElementById("select2").options[document.getElementById("select2").options.length]
                        = new Option(id_solicitud);

                // cargamos inicialmente la solicitud seleccionada para ser edita
                if (id_solicitud  == {{ info.idSolicitud.idSolicitud }} ){
                    SelectObject = document.getElementById('select2');
                    SelectObject.selectedIndex = i;
                }

            }
            {% endfor %}


            $('#InputSelect1_txt').change(function(){
                cargarSelect();
            });

        });


        $(function () {
            $('#datetimepicker9').datepicker({
                minViewMode: 2,
                format: 'yyyy'
            });
        });



        function cargarSelect() {
            var dato = $("input[name=InputSelect1_txt]").val();
            options = document.querySelectorAll('#lista1_list option');
            var encontrado = 0;

            for(var i = 0; i < options.length; i++) {
                var option = options[i];
                //var nombreCompletoList = option.innerText;
                //alert( dato.localeCompare(nombreCompletoList) );

                if( option.innerText.trim().valueOf() == dato.trim().valueOf() ){
                    encontrado = option.getAttribute('data-value');
                }
            }

            //alert(encontrado);
            if (encontrado != 0){
                cargarSelect2(encontrado);
            }else {
                document.getElementById("InputSelect1_txt").value = "";
                cargarSelect2(encontrado);
            }
        }

        function cargarSelect2(valor){


            if (valor==0){
                document.getElementById("select2").disabled = true;
                document.getElementById("select2").options.length =0;
                document.getElementById("select2").options[0] =
                        new Option("Solicitudes disponibles","0");

            } else{
                document.getElementById("select2").disabled = false;
                document.getElementById("select2").options.length =0;
                document.getElementById("select2").options[0] =
                        new Option("Solicitudes disponibles","0");
                i = 0;
                {%  for solicitud in sol %}


                var id_solicitud = {{ solicitud.idSolicitud }};
                var id_usuario = {{ solicitud.idUi.idUi }};

                if (valor == id_usuario){

                    // añadimos los nuevos elementos
                    //document.getElementById("select2").options[document.getElementById("select2").options.length]
                    //        = new Option(id_solicitud + "," + nombre);
                    document.getElementById("select2").options[document.getElementById("select2").options.length]
                            = new Option(id_solicitud);
                }
                {% endfor %}

                document.getElementById("select2").disable=false;
            }
        }


        function CalcularAños(año,fecha2,separador) {
            var aFecha2 = fecha2.split(separador);
            return (aFecha2[2] - año);
        }
    </script>
{% endblock %}
