{% extends 'base2.html.twig' %}
{% block active %}active-menu{% endblock %}
{% block Header %}
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li class="active"><a href="{{ path('index_interesado') }}">Inicio</a></li>
            <li class="active">Perfil</li>
        </ol>
    </div>
{% endblock %}
{% block styles %}
    <link href="{{ asset('public/css/bootstrap-datepicker.min.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}

    <div class="panel panel-primary">
        <div class="panel-heading" style="background-color: #8C64a3">
            Perfil Personal
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Nombre completo: </label>
                    <label><span style="font-size: 18px">{{ app.user.nombre }} {{ app.user.apellido }}</span></label>
                </div>
            </div>
            {{ form_start(form, {'attr' : {'role' : 'form'}}) }}
            <div class="col-md-6">
                <div class="form-group">
                    <label>DUI</label>
                    {{ form_widget(form.duiAlumno, {'attr' : {'class' : 'form-control', 'placeholder' : 'DUI', 'pattern' : '[0-9]{8}-[0-9]{1}', 'required' : true}}) }}
                    <span class="text-danger">{{ form_errors(form.duiAlumno) }}</span>
                </div>
                <div class="form-group">
                    <label>NIT</label>
                    {{ form_widget(form.nitAlumno, {'attr' : {'class' : 'form-control', 'placeholder' : 'NIT', 'pattern' : '[0-9]{4}-[0-9]{6}-[0-9]{3}-[0-9]{1}', 'required' : true}}) }}
                    <span class="text-danger">{{ form_errors(form.nitAlumno) }}</span>
                </div>
                <div class="form-group">
                    <label>Fecha de nacimiento</label>
                    {{ form_widget(form.fechaNacimiento, {'attr' : {'class' : 'form-control','data-provide' : 'datepicker', 'data-date-format' : 'dd-mm-yyyy','data-date-end-date' : '-18y','data-date-language' : 'es','id' : 'idfnac', 'required' : true}}) }}
                    <span class="text-danger">{{ form_errors(form.fechaNacimiento) }}</span>
                </div>
                <div class="form-group">
                    <label>Estado civil</label>
                    {{ form_widget(form.estadoCivil, {'attr' : {'class' : 'form-control'}}) }}
                    <span class="text-danger">{{ form_errors(form.estadoCivil) }}</span>
                </div>
                <div class="form-group">
                    <label>Correo electrónico</label>
                    {{ form_widget(form.correo, {'attr' : {'class' : 'form-control'}}) }}
                    <span class="text-danger">{{ form_errors(form.correo) }}</span>
                </div>
                <div class="form-group">
                    <label>Teléfono móvil</label>
                    {{ form_widget(form.telefonoMovil, {'attr' : {'class' : 'form-control', 'pattern' : '[0-9]{4}-[0-9]{4}', 'maxlength' : '9', 'placeholder' : '####-####'}}) }}
                    <span class="text-danger">{{ form_errors(form.telefonoMovil) }}</span>
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Dirección particular</label>
                    {{ form_widget(form.direccionParticular, {'attr' : {'class' : 'form-control', 'rows' : '4', 'maxlength' : '300'}}) }}
                    <span class="text-danger">{{ form_errors(form.direccionParticular) }}</span>
                </div>
                <div class="form-group">
                    <label>Teléfono particular</label>
                    {{ form_widget(form.telefonoParticular, {'attr' : {'class' : 'form-control', 'id' : 'idtelpar', 'pattern' : '[0-9]{4}-[0-9]{4}', 'maxlength' : '9', 'placeholder' : '####-####'}}) }}
                    <span class="text-danger">{{ form_errors(form.telefonoParticular) }}</span>
                </div>
                <div class="form-group">
                    <label>Lugar de trabajo</label>
                    {{ form_widget(form.lugarTrabajo, {'attr' : {'class' : 'form-control', 'maxlength' : '100'}}) }}
                    <span class="text-danger">{{ form_errors(form.lugarTrabajo) }}</span>
                </div>
                <div class="form-group">
                    <label>Teléfono trabajo</label>
                    {{ form_widget(form.telefonoTrabajo, {'attr' : {'class' : 'form-control', 'pattern' : '[0-9]{4}-[0-9]{4}', 'maxlength' : '9', 'placeholder' : '####-####'}}) }}
                    <span class="text-danger">{{ form_errors(form.telefonoTrabajo) }}</span>
                </div>
                <div class="form-group">
                    <label>Dirección de trabajo</label>
                    {{ form_widget(form.direccionTrabajo, {'attr' : {'class' : 'form-control', 'rows' : '4', 'maxlength' : '300'}}) }}
                    <span class="text-danger">{{ form_errors(form.direccionTrabajo) }}</span>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <div class="form-group">
                    {{ form_widget(form.guardar, {'attr' : {'class' : 'btn btn-primary'}}) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/js/bootstrap-datepicker.min.js') }}"></script>

    <script>
        var dui = new Array(8, 1);
        var cel = new Array(4, 4);
        var NIT = new Array(4, 6, 3, 1);
        var telpar = document.getElementById("idtelpar");


        $(document).ready(function () {
            telpar.onkeyup = mascara(telpar, '-', cel, true);
        });
        /**************************************************************
         Máscara de entrada. Script creado por Tunait! (21/12/2004)
         Si quieres usar este script en tu sitio eres libre de hacerlo con la condición de que permanezcan intactas estas líneas, osea, los créditos.
         No autorizo a distribuír el código en sitios de script sin previa autorización
         Si quieres distribuírlo, por favor, contacta conmigo.
         Ver condiciones de uso en http://javascript.tunait.com/
         tunait@yahoo.com
         ****************************************************************/
        function mascara(d, sep, pat, nums) {
            if (d.valant != d.value) {
                val = d.value
                largo = val.length
                val = val.split(sep)
                val2 = ''
                for (r = 0; r < val.length; r++) {
                    val2 += val[r]
                }
                if (nums) {
                    for (z = 0; z < val2.length; z++) {
                        if (isNaN(val2.charAt(z)) || val2.charAt(z) == " ") {
                            //letra = new RegExp(val2.charAt(z),"g")
                            val2 = val2.replace(val2.charAt(z), "")
                        }
                    }
                }
                val = ''
                val3 = new Array()
                for (s = 0; s < pat.length; s++) {
                    val3[s] = val2.substring(0, pat[s])
                    val2 = val2.substr(pat[s])
                }
                for (q = 0; q < val3.length; q++) {
                    if (q == 0) {
                        val = val3[q]
                    }
                    else {
                        if (val3[q] != "") {
                            val += sep + val3[q]
                        }
                    }
                }
                d.value = val
                d.valant = val
            }
        }

    </script>
{% endblock %}
