{% extends '::base2.html.twig' %}

{% block body -%}
    <h1>Expediente</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Idexp</th>
                <td>{{ entity.idExp }}</td>
            </tr>
            <tr>
                <th>Nombreexp</th>
                <td>{{ entity.nombreExp }}</td>
            </tr>
            <tr>
                <th>Datoscarrera</th>
                <td>{{ entity.datosCarrera }}</td>
            </tr>
            <tr>
                <th>Genero</th>
                <td>{{ entity.genero }}</td>
            </tr>
            <tr>
                <th>Paisnacimiento</th>
                <td>{{ entity.paisNacimiento }}</td>
            </tr>
            <tr>
                <th>Nacionalidad</th>
                <td>{{ entity.nacionalidad }}</td>
            </tr>
            <tr>
                <th>Fechanaci</th>
                <td>{{ entity.fechaNaci|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Duiexp</th>
                <td>{{ entity.duiExp }}</td>
            </tr>
            <tr>
                <th>Nitexp</th>
                <td>{{ entity.nitExp }}</td>
            </tr>
            <tr>
                <th>Estadocivilexp</th>
                <td>{{ entity.estadoCivilExp }}</td>
            </tr>
            <tr>
                <th>Situacionlaboral</th>
                <td>{{ entity.situacionLaboral }}</td>
            </tr>
            <tr>
                <th>Tipoestudiante</th>
                <td>{{ entity.tipoEstudiante }}</td>
            </tr>
            <tr>
                <th>Direccionexp</th>
                <td>{{ entity.direccionExp }}</td>
            </tr>
            <tr>
                <th>Deptorecidencia</th>
                <td>{{ entity.deptoRecidencia }}</td>
            </tr>
            <tr>
                <th>Municipiorecidencia</th>
                <td>{{ entity.municipioRecidencia }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ entity.telefono }}</td>
            </tr>
            <tr>
                <th>Emailexp</th>
                <td>{{ entity.emailExp }}</td>
            </tr>
            <tr>
                <th>Fechatitulacion</th>
                <td>{{ entity.fechaTitulacion|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechaexptitulo</th>
                <td>{{ entity.fechaExpTitulo|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Institucionexp</th>
                <td>{{ entity.institucionExp }}</td>
            </tr>
            <tr>
                <th>Bachillerato</th>
                <td>{{ entity.bachillerato }}</td>
            </tr>
            <tr>
                <th>Cambioscarreraaprob</th>
                <td>{{ entity.cambiosCarreraAprob }}</td>
            </tr>
            <tr>
                <th>Fecharegistro</th>
                <td>{{ entity.fechaRegistro|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('secretaria_expediente') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('secretaria_expediente_edit', { 'id': entity.idExp }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
