{% extends 'base2.html.twig' %}
{% block active %}active-menu{% endblock %}
{% block Header %}
    {% block styles %}
        <link href="{{ asset('public/assets/js/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet" />
        <link href="{{ asset('public/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet"/>
    {% endblock %}
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="{{ path('tutor') }}">Inicio</a></li>
            <li><a href="{{ path('cursos_alumno') }}">Cursos Asignados</a></li>
            <li class="active">Cuotas y Pagos</li>
        </ol>
        <h2>Cuotas - "{{ curso.nombreCurso }}" <button  style="float: right; margin-top: -8px;" title="Agregar" class="btn btn-success btn-lg"  data-toggle="modal" data-target="#myModal"><i class="fa fa-money" aria-hidden="true"></i> Subir Pago</button></h2>
    </div>
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-6">
        <!--   Kitchen Sink -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                Cuotas
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th><span class="label label-success">Cuota</span></th>
                            <th><span class="label label-success">Descripción</span></th>
                            <th><span class="label label-success">Monto</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cuotas in cuotas %}
                            <tr>
                                <td>{{ cuotas.idPago.idPago }}</td>
                                <td>{{ cuotas.cuota }}</td>
                                <td>{{ cuotas.descripCuota }}</td>
                                <td>${{ cuotas.monto }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End  Kitchen Sink -->
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Pagos
            </div>
            <div class="panel-body">
                <div class="panel-group" id="accordion">
                    {#***************************************#}
                    {% for pago in pago %}
                    <div {% if pago.verificado=='aprobado' %}class="panel panel-success"{% elseif pago.verificado=='denegado' %}class="panel panel-danger"{% elseif pago.verificado=='enviado' %}class="panel panel-warning"{% endif %}>
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#{{ pago.idPagos }}" class="collapsed">{{ pago.idCuota.cuota }}</a>
                                {% if pago.verificado=='aprobado' %}
                                <button type="button" class="btn btn-success btn-circle2" style="float: right; margin-top: -10px"><i class="fa fa-check"></i>
                                </button>
                                {% elseif pago.verificado=='denegado' %}
                                <button type="button" class="btn btn-danger btn-circle2" style="float: right; margin-top: -10px"><i class="fa fa-remove"></i>
                                </button>
                                {% elseif pago.verificado=='enviado' %}
                                <button type="button" class="btn btn-warning btn-circle2" style="float: right; margin-top: -10px"><i class="fa fa-refresh"></i>
                                </button>
                                {% endif %}
                            </h4>
                        </div>
                        <div id="{{ pago.idPagos }}" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                            <div class="col-md-6">
                                  <a href="" onclick="window.open('{{ asset('public') }}/{{ pago.imagenRecibo}}');">
                                        <img src="{{ asset('public') }}/{{ pago.imagenRecibo }}" alt="img1" style="width: 100%;"></a>
                              </div>
                                <div class="col-md-6">
                                Observacion:{{ pago.observacion }}
                                <br/>
                                Monto: ${{ pago.montoPagado }}
                                <br/>
                                Numero de Recibo: {{ pago.numeroRecibo }}
                                <br/>
                                Fecha de Pago: {{ pago.fechaPago.format('d-m-y') }}
                                <br/>
                                Estado: {{ pago.verificado }}
                                {% if pago.verificado=='denegado' %}
                                 <a href="{{ path('cuotas_edit_alumno', {'id': pago.idPagos, 'id2': curso.idCurso}) }}" title="Editar" class="btn btn-default" style="background: #0AA5E2;color: #ffffff;"><span class="glyphicon glyphicon-pencil" aria-hidden="true"/> Editar Pago</a>
                                     {% endif %}
                                     </div>
                               </div>
                        </div>
                    </div>
                    {% endfor %}
                    {#***************************************#}

                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></button>
                        <h4 class="modal-title" id="myModalLabel">Subir un Pago</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                        <form role="form" action="{{ path('cuotas_curso_alumno', {'id': curso.idCurso, 'id2': inscrip.idDc}) }}" method="post" enctype="multipart/form-data" >
                            <div class="col-md-2"></div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="disabledSelect">Selecione una Cuota</label>

                                    <select name="cuota" class="form-control">
                                                {% for cuota in cuotasp %}
                                                <option selected value="{{ cuota.id_cuota }}">{{ cuota.cuota }}</option>
                                                {% endfor %}
                                    </select>

                                </div>
                                <div class="form-group">
                                    <label for="disabledSelect">Imagen de Recibo</label>
                                    <input class="form-control" id="imagen" name="imagen" type="file" required/>
                                </div>
                                <div class="form-group">
                                    <label for="disabledSelect">Número de Recibo</label>
                                    <input class="form-control" name="numrecibo" type="number" required/>
                                </div>
                                <div class="form-group">
                                    <label for="disabledSelect">Monto</label>
                                    <input class="form-control" step="0.01" name="monto" type="number" required/>
                                </div>
                                <div class="form-group">
                                    <label for="disabledSelect">Cuota Diferenciada</label>
                                    <select name="dif" class="form-control">
                                                <option selected value="FALSE">No</option>
                                                <option value="TRUE">Si</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="disabledSelect">Fecha de Pago</label>
                                    <input class="form-control" id="fechapago" name="fechapago" required placeholder="dd/mm/aaaa"/>
                                </div>
                            </div>
                            <div class="col-md-12" style="text-align: center">
                                <button type="submit" style="width: 15%;" class="btn btn-primary">Guardar </button>
                                <button type="button" style="width: 15%;" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            </div>

                        </form>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <br/><br/><br/><br/><br/><br/><br/><br/><br/>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/js/moment.js') }} "></script>
    <script src="{{ asset('public/js/bootstrap-datetimepicker.min.js') }} "></script>

    <script type="text/javascript">

        $(function () {
            $("#fechapago").datetimepicker({format: 'DD/MM/YYYY'});
        });
    </script>
{% endblock %}