{% extends 'base2.html.twig' %}
{% block active1 %}active-menu{% endblock %}
{% block Header %}
    <div class="col-md-12">

        <ol class="breadcrumb">
            <li><a href="{{ path('admin') }}">Inicio</a></li>
            <li><a href="{{ path('tipocurso') }}">Tipos de Cursos</a></li>
            <li class="active">Tipo de curso</li>
        </ol>
        <h2>Tipo de curso</h2>
    </div>
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-12">

        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <tbody>
            <tr >
                <th style="width: 30%;" >Id correlativo</th>
                <td  >{{ entity.idTc }} </td>
            </tr>
            <tr>
                <th>Nombre del tipo de curso</th>
                <td>{{ entity.nombreTc }}</td>
            </tr>
        </tbody>
    </table>


            <div class="col-md-2">
                <div class="form-group">
                    <a href="{{ path('tipocurso_edit', { 'id': entity.idTc }) }}" class="btn btn-primary"
                       style="width: 100%">
                        Editar
                    </a>

                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <a href="{{ path('tipocurso') }}" class="btn btn-info" style="width: 100%">
                        Regresar
                    </a>


                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
{{ form(delete_form) }}</div>
</div></div></div>

{% endblock %}
