{% extends 'base2.html.twig' %}
{% block active2 %}active-menu{% endblock %}
{% block styles %}
    <link href="{{ asset('public/assets/js/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet" />
    <link href="{{ asset('public/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet"/>
{% endblock %}
{% block Header %}
    <div class="col-md-12">

        <ol class="breadcrumb">
            <li><a href="{{ path('secretaria') }}">Inicio</a></li>
            <li><a href="{{ path('verEntrevista') }}">Horario Entrevista</a></li>
            <li class="active">Editar Horario Entrevista</li>
        </ol>
        <h2>Editar Hora de Entrevista</h2>
    </div>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <!-- Form Elements -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">

                            <form id="formulario" action="{{ path("editEntrevista",{'id': he.idHe}) }}" method="post" name="formulario">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Curso</label>
                                        <select name="curso" class="form-control" disabled>
                                            {% for curso in curso %}
                                                {% if curso.nombreCurso == he.idCurso.nombreCurso %}
                                            <option selected value="{{ curso.idCurso }}">{{ curso.nombreCurso }}</option>
                                            {% else %}
                                                <option value="{{ curso.idCurso }}">{{ curso.nombreCurso }}</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Fecha de Entrevista</label>
                                        <div class='input-group date' >
                                            <input value="{{ he.fechaDhe.format("d-m-Y") }}" id="fecha" class="form-control" name="fecha" size="16" type="text" placeholder="dd/mm/aaaa">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="disabledSelect">Hora de Entrevista</label>
                                        <div class='input-group date' >
                                            <input value="{{ he.horaDhe.format("H:i") }}" id="hora" class="form-control" name="hora" size="16" type="text" placeholder="HH:mm">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                        </div>
                                    </div>
                                </div>

                                {#<div class="col-md-6">#}
                                    {#<div class="form-group">#}
                                        {#<label for="disabledSelect">Tipo de Horario</label>#}
                                        {#<div class="radio">#}
                                            {#{% if he.tipoHorario == "Evaluacion" %}#}
                                            {#<label>#}
                                                {#<input type="radio" name="tipoH" id="tipoH" value="Evaluacion" checked/>Evaluación#}
                                            {#</label>#}
                                            {#<label>#}
                                                {#<input type="radio" name="tipoH" id="tipoH" value="Cita"/>Cita#}
                                            {#</label>#}
                                            {#{% else %}#}
                                            {#<label>#}
                                                {#<input type="radio" name="tipoH" id="tipoH" value="Evaluacion"/>Evaluación#}
                                            {#</label>#}
                                            {#<label>#}
                                                {#<input type="radio" name="tipoH" id="tipoH" value="Cita"checked/>Cita#}
                                            {#</label>#}
                                            {#{% endif %}#}
                                        {#</div>#}
                                        {#<div class="radio">#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                                <div class="col-md-12 col-md-offset-4">
                                    <button onclick="validar()" type="button" style="width: 30%;" class="btn btn-primary">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Form Elements -->
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/js/moment.js') }} "></script>
    <script src="{{ asset('public/js/bootstrap-datetimepicker.min.js') }} "></script>

    <script type="text/javascript">

        $(function () {
            $("#fecha").datetimepicker({format: 'DD-MM-YYYY'});
            $("#hora").datetimepicker({format: 'HH:mm'});
        });

        function validar() {
            var fecha = document.getElementById('fecha').value;
            var hora = document.getElementById('hora').value;

            var fechaAhora = moment().format('DD-MM-YYYY');

            if(fecha=='' && hora==''){
                alertify.error("Es Obligatorio Llenar Los Campos Requeridos");
            }else{
                if(fecha==''){
                    alertify.error("Es Obligatorio Llenar La Fecha de la Entrevista");
                }else{
                    if(fecha<fechaAhora){
                        alertify.error("La Fecha de la Entrevista no puede ser menor de "+fechaAhora);
                    }else{
                        if(hora==''){
                            alertify.error("Es Obligatorio Llenar La Hora de la Entrevista");
                        }else{
                            if(hora<"08:00"||hora>"14:30" ){
                                alertify.error("La Hora de la Entrevista de Programarse en horas Laborales (8:00 - 14:30)");
                            }else{
                                document.formulario.submit()
                            }
                        }
                    }
                }

            }
        }

    </script>
{% endblock %}