{% extends 'base2.html.twig' %}
{% block active %}active-menu{% endblock %}
{% block styles %}
    <link href="{{ asset('public/assets/js/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet"/>
{% endblock %}
{% block Header %}
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="{{ path('curriculumAlumTo')}}">Inicio</a></li>
            <li class="active">Idiomas</li>
        </ol>
        <h2>Idiomas</h2>
    </div>
{% endblock %}
{% block body %}
<div class="col-md-12">
    <!--   Kitchen Sink -->
    <div class="panel panel-default">
        <div class="panel-heading">
            Idiomas  <a href="{{ path('alumnoidioma_new') }}" style="float: right; margin-top: -5px;" title="Agregar" class="btn btn-success">Nuevo Idioma</a>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                    <tr>

                        <th>Idioma</th>
                        <th>Comprensionauditiva</th>
                        <th>Expresionoral</th>
                        <th>Expresionescrita</th>
                        <th>Leguamaterna</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>{{ entity.idioma }}</td>
                            <td>{{ entity.comprensionAuditiva }}</td>
                            <td>{{ entity.expresionOral }}</td>
                            <td>{{ entity.expresionEscrita }}</td>
                            <td>{% if entity.leguaMaterna %}{{ "Si" }}{% else %}{{ "No" }}{% endif %}</td>
                            <td>
                                <ul>

                                    <a class="btn btn-default" style="background: #0AA5E2;color: #ffffff;" href="{{ path('alumnoidioma_show', { 'id': entity.idIdioma }) }}"> <span class="glyphicon  glyphicon-eye-open" aria-hidden="true" /> </a>

                                    <a class="btn btn-primary"  href="{{ path('alumnoidioma_edit', { 'id': entity.idIdioma }) }}">  <span class="glyphicon glyphicon-pencil" aria-hidden="true" /></a>

                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <ul>
        <li>

            <a href="{{ path('curriculumAlumTo')}}">
                Regresar a Curriculum
            </a>

        </li>
    </ul>

    {% endblock %}
    {% block javascripts %}
        {% for flashMessage in app.session.flashbag.get('error') %}
        <script>
            window.onload = function error(){
                alertify.error("{{ flashMessage }}.");
                return false;
            }
        </script>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('exito') %}
        <script>
            window.onload = function notificacion(){
                alertify.success("{{ flashMessage }}.");
                return false;
            }
        </script>
        {% endfor %}

        <script src="{{ asset('public/assets/js/dataTables/jquery.dataTables.js') }}"></script>
        <script src="{{ asset('public/assets/js/dataTables/dataTables.bootstrap.js') }}"></script>
        <script>
            $(document).ready(function () {
                $('#dataTables-example').dataTable();
            });
        </script>

    {% endblock %}
