{% extends '::base2.html.twig' %}

{% block body -%}
    <h1>Idioma wcreationss {{ curriculum }}</h1>

    {#{{ form(form) }}#}
    {{ form_start(form) }}

    {{form_widget(form.idCurriculum, {'value': curriculum, "attr":{"style":"display:none;"}}) }}
    {{ form_end(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('alumnoidioma',{ 'cur': curriculum }) }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
