{% extends 'base2.html.twig' %}
{% block active %}active-menu{% endblock %}
{% block Header %}
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li class="active"><a href="{{ path('index_interesado') }}">Inicio</a></li>

        </ol>
    </div>
{% endblock %}
{% block body %}
    <div class="col-md-12">
        <div class="row">
            {% if not cursos %}
                <span>No hay cursos disponibles.</span>
            {% endif %}
            {% for c in cursos %}
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading" style="background-color: #8C64a3">
                            {{ c.nombreCurso }}
                        </div>

                        <div class="panel-body">
                            <div class="col-md-4">
                                {{ c.broshureInformativo }}
                            </div>
                            <div class="col-md-8">
                                <p>Cupo: {{ c.cantAlumnosLimit }}</p>
                                <br/>
                                <p>
                                    {{ c.textoInformativo }}
                                </p>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a href="{{ path('interesado_solicitud',{'idc' : c.idCurso}) }}">Ver o Llenar solicitud</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}