{% extends 'base2.html.twig' %}
{% block active %}active-menu{% endblock %}
{% block Header %}
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li class="active"><a href="{{ path('index_interesado') }}">Inicio</a></li>
        </ol>
    </div>
{% endblock %}
{% block body %}
    <div class="col-md-12">
        <div class="row">
            {% if not cursos %}
                <span>No hay cursos disponibles.</span>
            {% else %}
                <h3>Cursos disponibles:</h3>
                {% for c in cursos %}
                    <div class="col-md-4 col-sm-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                {{ c.idCurso.estadoCurso }}
                            </div>
                            <div class="panel-body" style="text-align: center">
                                <div class="col-md-6">
                                    <a href=""
                                       onclick="window.open('{{ asset('public') }}/{{ c.idCurso.broshureInformativo }}');">
                                        <img src="{{ asset('public') }}/{{ c.idCurso.broshureInformativo }}" alt="img1"
                                             style="width: 100%;"></a>
                                </div>
                                <div class="col-md-6">
                                    <h4>{{ c.idCurso.nombreCurso }}</h4>
                                    <br/>
                                    Alumnos: {{ c.idCurso.cantAlumnosLimit }}
                                    <br/><br/><br/>
                                    <a href="{{ path('inteDetalleCurso', {'id': c.idCurso.idCurso}) }}"
                                       title="Detalles de curso" class="btn btn-primary"><span
                                                class="fa fa-graduation-cap" aria-hidden="true"/> Ver Detalles</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}