{% extends '::base2.html.twig' %}
{% block Header %}
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="{{ path('secretaria') }}">Inicio</a></li>
            <li class="active">Edicion de Datos personales</li>
        </ol>
        <h2>Edicion de datos personales </h2>
    </div>
{% endblock %}
{% block body -%}


<div class="col-md-12">

        {% block javascripts %}
            {% for flashMessage in app.session.flashbag.get('error') %}
            <script>
                window.onload = function error(){
                    alertify.error("{{ flashMessage }}.");
                    return false;
                }
            </script>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('exito') %}
            <script>
                window.onload = function notificacion(){
                    alertify.success("{{ flashMessage }}.");
                    return false;
                }
            </script>
            {% endfor %}
        {% endblock %}






        {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('alumno') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul></div></div>
{% endblock %}
