{% extends 'base2.html.twig' %}
{% block active %}active-menu{% endblock %}
{% block body %}
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Cosas</a></li>
            <li class="active">Mas...</li>
        </ol>
        <h2>Bienvenido Alumno</h2>
    </div>
    {#{% endblock %}#}

    {#{% extends '::base2.html.twig' %}#}

    {#{% block body -%}#}
    <h1>Alumno list</h1>

    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
        <tr>
            <th>Usuario</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>correo</th>

            <th>telefono</th>
            <th>activo</th>
            <th>Id Empleado</th>

        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.idAlumno.idUi.nomusuario }}</td>
                <td>{{ entity.idAlumno.idUi.nombre }}</td>
                <td>{{ entity.idAlumno.idUi.apellido }}</td>
                <td>{{ entity.idAlumno.idUi.correo }}</td>
                <td>{{ entity.idAlumno.idUi.telefono }}</td>
                <td>{% if entity.idAlumno.idUi.isactive %}{{ "Si" }}{% else %}{{ "No" }}{% endif %}</td>
                <td>{% if entity.idAlumno.idUi.idEmpleado == null or entity.idUi.idEmpleado == "" %}{{ " - " }}{% else %}{{ entity.idUi.idEmpleado }}{% endif %}</td>
                {#<td>{{ entity.idCurso.nombreCurso }}</td>#}
                {#<td>{{ entity.estado }}</td>#}
                <td>
                    <ul>
                        <a href="{{ path('curriculumTo', { 'id':  entity.idCurriculum }) }}" class="btn btn-primary">
                            Curriculum
                        </a>
                        <br/>
                        <a href="{{ path('alumno_edit', { 'id': entity.idAlumno.idAlumno }) }}" class="btn btn-info">
                            Datos Personales
                        </a>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


            {#<a href="{{ path('alumno_new') }}"> Create a new entry </a>#}


{% endblock %}
