{% extends 'base2.html.twig' %}
{% block active2 %}active-menu{% endblock %}
{% block styles %}
    <link href="{{ asset('public/assets/js/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet"/>
{% endblock %}
{% block Header %}
<div class="col-md-12">
    <ol class="breadcrumb">
        <li><a href="{{ path('secretaria') }}">Inicio</a></li>
        <li class="active">Cuotas</li>
    </ol>
    <h2>Cuotas de </h2><a href="{{ path('cuotas_create', {'id': idcurso}) }}" style="float: right; margin-top: -35px;" title="Agregar" class="btn btn-primary" ><i class="fa fa-plus" aria-hidden="true"></i> Agregar Cuota</a>
</div>
{% endblock %}
{% block body %}
    <div class="col-md-12">
        <!--   Cuerpo -->
        {% for cuotas in cuotas %}
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="panel panel-primary text-center no-boder bg-color-blue">
                <div class="panel-footer main-temp-back">
                    {{ cuotas.cuota }}
                </div>
                <div class="panel-body">
                    <i class="fa fa-money fa-2x"></i>
                    <h3>$ {{ cuotas.monto }}</h3>
                </div>
                <div class="panel-footer main-temp-back" style="font-size: 12px;">
                    {{ cuotas.descripCuota}}
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- fin del cuerpo -->
    </div>
{% endblock %}
{% block javascripts %}

{% endblock %}