{% extends '::base.html.twig' %}

{% block body -%}
    <h1>HorarioCurso</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idhc</th>
                <td>{{ entity.idHc }}</td>
            </tr>
            <tr>
                <th>Fechainicio</th>
                <td>{{ entity.fechaInicio|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechafin</th>
                <td>{{ entity.fechaFin|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Iniciorecepdoc</th>
                <td>{{ entity.inicioRecepDoc|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Finrecepdoc</th>
                <td>{{ entity.finRecepDoc|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('horario_curso') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('horario_curso_edit', { 'id': entity.idHc }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
