{% extends 'base2.html.twig' %}
{% block active %}active-menu{% endblock %}
{% block Header %}
    <span style="color:royalblue;margin-left: 20px;font-size: 14px;">Solicitud</span>
{% endblock %}
{% block body %}
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="{{ path('index_interesado') }}">Inicio</a></li>
            <li class="active">Solicitud</li>
        </ol>

        <h3>SOLICITUD DE INGRSO</h3>
        <h2>I. DATOS PERSONALES</h2>
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Apellidos</label><br>
                    <input class="form-control" name="apellido" value="{{ app.user.apellido }}" readonly></input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nombres</label><br>
                    <input class="form-control" name="nombre" value="{{ app.user.nombre }}" readonly></input>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label>DUI</label>
                    <input class="form-control" name="dui" value="{{ perfil.duiAlumno }}" readonly/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>NIT</label>
                    <input class="form-control" name="dui" value="{{ perfil.nitAlumno }}" readonly/>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Fecha de nacimiento</label>
                    <input class="form-control" name="fechanac" value="{{ perfil.fechaNacimiento|date("d-m-Y") }}" readonly/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Estado civil</label>
                    <input class="form-control" name="estadocivil" value="{{ perfil.estadoCivil }}" readonly/>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-8">
                <div class="form-group">
                    <label>Dirección particular</label>
                    <textarea class="form-control" name="dirparticular" rows="3" readonly>{{ perfil.direccionParticular }}</textarea>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Teléfono particular</label>
                    <input class="form-control" name="telparticular" value="{{ perfil.telefonoParticular }}" readonly/>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-8">
                <div class="form-group">
                    <label>Lugar de trabajo</label>
                    <textarea class="form-control" name="lugartrabajo" rows="2" readonly>{{ perfil.lugarTrabajo }}</textarea>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Teléfono trabajo</label>
                    <input class="form-control" name="teltrabajo" value="{{ perfil.telefonoTrabajo }}" readonly/>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-8">
                <div class="form-group">
                    <label>Dirección de trabajo</label>
                    <textarea class="form-control" name="dirtrabajo" rows="3" readonly>{{ perfil.direccionTrabajo }}</textarea>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Correo electrónico</label>
                    <input class="form-control" name="correo" value="{{ perfil.direccionTrabajo }}" readonly/>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Teléfono móvil</label>
                    <input class="form-control" name="telmovil" value="{{ perfil.telefonoMovil }}" readonly/>
                </div>
            </div>
        </div>

        <h2>II. INFORMACION ACADEMICA</h2>
        <h3>Estudios realizados</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="col-md-6">Universidad de procedencia</div>
                        <div class="col-md-5">T&iacutetulo Obtenido</div>
                        <div class="col-md-1">A&ntildeo</div>
                    </div>

                    <div class="panel-body">
                        {% for e in estudios %}
                            <div class="col-md-6">
                                ues
                            </div>
                            <div class="col-md-5">
                                <p>ingeniero</p>
                            </div>
                            <div class="col-md-1">
                                <p>2016</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}