{% extends 'base2.html.twig' %}
{% block active %}active-menu{% endblock %}
{% block styles %}
    <link href="{{ asset('public/assets/js/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet"/>
{% endblock %}
{% block Header %}
    <span style="color:royalblue;margin-left: 20px;font-size: 14px;">Solicitud</span>
{% endblock %}
{% block body %}
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="{{ path('index_interesado') }}">Inicio</a></li>
            <li class="active">Solicitud</li>
        </ol>

        <h3>SOLICITUD DE INGRESO</h3>
        <h2>I. DATOS PERSONALES</h2>
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Apellidos</label><br>
                    <input class="form-control" name="apellido" value="{{ app.user.apellido }}" readonly></input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nombres</label><br>
                    <input class="form-control" name="nombre" value="{{ app.user.nombre }}" readonly></input>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label>DUI</label>
                    <input class="form-control" name="dui" value="{{ perfil.duiAlumno }}" readonly/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>NIT</label>
                    <input class="form-control" name="dui" value="{{ perfil.nitAlumno }}" readonly/>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Fecha de nacimiento</label>
                    <input class="form-control" name="fechanac" value="{{ perfil.fechaNacimiento|date("d-m-Y") }}"
                           readonly/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Estado civil</label>
                    <input class="form-control" name="estadocivil" value="{{ perfil.estadoCivil }}" readonly/>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-8">
                <div class="form-group">
                    <label>Dirección particular</label>
                    <textarea class="form-control" name="dirparticular" rows="3"
                              readonly>{{ perfil.direccionParticular }}</textarea>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Teléfono particular</label>
                    <input class="form-control" name="telparticular" value="{{ perfil.telefonoParticular }}" readonly/>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-8">
                <div class="form-group">
                    <label>Lugar de trabajo</label>
                    <textarea class="form-control" name="lugartrabajo" rows="2"
                              readonly>{{ perfil.lugarTrabajo }}</textarea>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Teléfono trabajo</label>
                    <input class="form-control" name="teltrabajo" value="{{ perfil.telefonoTrabajo }}" readonly/>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-8">
                <div class="form-group">
                    <label>Dirección de trabajo</label>
                    <textarea class="form-control" name="dirtrabajo" rows="3"
                              readonly>{{ perfil.direccionTrabajo }}</textarea>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Correo electrónico</label>
                    <input class="form-control" name="correo" value="{{ perfil.direccionTrabajo }}" readonly/>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Teléfono móvil</label>
                    <input class="form-control" name="telmovil" value="{{ perfil.telefonoMovil }}" readonly/>
                </div>
            </div>
        </div>

        <h2>II. INFORMACION ACADEMICA</h2>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span style="font-size: 14px; font-weight: bold;">Curso al que esta aplicando: </span>
                    <span style="font-size: 16px; font-weight: bold; color: #002a80">{{ curso.nombreCurso }}</span>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span style="font-size: 14px; font-weight: bold;">Estudios realizados</span>
                    <a href="{{ path('interesado_infoacademica',{'idc' : curso.idCurso}) }}"
                       style="float: right; margin-top: -8px;"
                       title="Agregar"
                       class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Agregar</a>
                </div>

                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="datatable-infoacad" class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th style="text-align: center">Universidad de procedencia</th>
                                <th style="text-align: center">T&iacutetulo Obtenido</th>
                                <th style="text-align: center">A&ntildeo</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for e in estudios %}
                                <tr>
                                    <td>{{ e.institucion }}</td>
                                    <td>{{ e.titulo }}</td>
                                    <td>Not coded yet!</td>
                                    <td>
                                        <a href="{{ path('interesado_infoacademica_edit', {'idia': e.idIfacad, 'idc' : curso.idCurso}) }}"
                                           title="Editar"
                                           class="btn btn-default" style="background: #0AA5E2;color: #ffffff;"><span
                                                    class="glyphicon glyphicon-pencil" aria-hidden="true"/></a>
                                        -
                                        <button onClick="confirmar({{ e.idIfacad }},{{ curso.idCurso }})" title="Eliminar" class="btn btn-danger">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"/>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div style="margin-bottom: 30px;">
                <input class="btn btn-success" type="submit" value="Enviar Solicitud" disabled />
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    <script>

        function confirmar(idia,idc) {
            //un confirm
            alertify.confirm("<p>Esta seguro que desea eliminar el Usuario?<br><br><b>ENTER</b> y <b>ESC</b> corresponden a <b>Aceptar</b> o <b>Cancelar</b></p>", function (e) {
                if (e) {
                    location.href="{{ asset('/interesado/infoacademica/delete') }}/"+idia+"/"+idc;
                } else {
                    alertify.error("Has cancelado la operacion");
                }
            });
            return false
        }
    </script>
    <!--<script src="{ asset('public/assets/js/dataTables/jquery.dataTables.js') }}"></script>-->
    <script src="{{ asset('public/assets/js/dataTables/dataTables.bootstrap.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#datatable-infoacad').dataTable();
        });
    </script>
{% endblock %}