{% extends'base2.html.twig' %}
{% block active %}active-menu{% endblock %}
{% block styles %}
    <link href="{{ asset('public/assets/js/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet"/>
{% endblock %}
{% block Header %}
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="{{ path('admin') }}">Inicio</a></li>
            <li><a href="{{ path('cita') }}">Cita</a></li>
            <li class="active">Edicion de cita</li>
        </ol>
        <h2>Edicion de cita</h2>
    </div>
{% endblock %}
{% block body -%}
<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">

                Formulario para el ingreso de una nueva cita
            </div>

            {% block javascripts %}
                {% for flashMessage in app.session.flashbag.get('error') %}
                <script>
                    window.onload = function error(){
                        alertify.error("{{ flashMessage }}.");
                        return false;
                    }
                </script>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('exito') %}
                <script>
                    window.onload = function notificacion(){
                        alertify.success("{{ flashMessage }}.");
                        return false;
                    }
                </script>
                {% endfor %}
            {% endblock %}





            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">

                        {{ form_start(edit_form) }}

                        <div class="col-md-6">
                            <div class="form-group" style=" display:none;">
                                <label> <label>Usuario Interesado </label> </label>
                                {{ form_widget(edit_form.idUi,{"attr":{"class":"form-control"},"required":"required"}) }}
                            </div>
                            <div class="form-group">
                                <label> <label>Curso </label> </label>
                                {{ form_widget(edit_form.idCurso  ,{"attr":{"class":"form-control"},"required":"required"}) }}
                            </div>
                            <div class="form-group">
                                <label> <label>Horario entrevistas </label> </label>
                                {{ form_widget(edit_form.idDhe  ,{"attr":{"class":"form-control"},"required":"required"}) }}
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label> <label>Comentario de la cita</label> </label>
                                {{ form_widget(edit_form.comentarioCita,{"attr":{"class":"form-control"},"required":"required"}) }}
                            </div>
                        </div>


</table>
                    <div>
                        <div class="col-md-2">
                            <div class="form-group">
                                {{ form(edit_form) }}
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <a href="{{ path('cita') }}" class="btn btn-info" style="width: 100%">
                                    Regresar
                                </a>


                            </div>
                        </div>
                    </div>


                                         </div>
                                         </div>




{% endblock %}
