{% extends 'base2.html.twig' %}
{% block active %}active-menu{% endblock %}
{% block styles %}
    <link href="{{ asset('public/assets/js/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet"/>
{% endblock %}
{% block Header %}
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="{{ path('secretaria') }}">Inicio</a></li>
            <li class="active">Cursos</li>
        </ol>
        <h2>Cursos</h2>
    </div>
{% endblock %}
{% block body %}
    <div class="col-md-12">
        <!--   Kitchen Sink -->
        <div class="panel panel-default">
            <div class="panel-heading">
                Cursos Disponibles <a href="{{ path('createCurso') }}" style="float: right; margin-top: -5px;" title="Agregar" class="btn btn-success">Agregar Nuevo Curso</a>
            </div>

            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover"  id="dataTables-example">
                        <thead>
                        <tr>
                            <th style="text-align: center" >Fecha</th>
                            <th style="text-align: center">Broshure</th>
                            <th style="text-align: center">Nombre</th>
                            <th style="text-align: center">Doctores</th>
                            <th style="text-align: center">Alumnos</th>
                            <th style="text-align: center">Descripcion</th>
                            <th style="text-align: center">Cuotas</th>
                            <th style="text-align: center">PDF</th>
                            <th style="text-align: center">Estado</th>
                            <th style="text-align: center">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <script>



                        </script>
                        {% for hc in hc %}
                            {% for cursos in cursos %}
                                {% if cursos.estadoCurso=='Registro' %}
                                    {% if cursos.idCurso == hc.idCurso.idCurso %}
                                        <tr>
                                            <td >{{ hc.FechaInicio.format("d/m/Y")}}</td>
                                            <td><a href="" onclick="window.open('{{ asset('public') }}/{{ cursos.broshureInformativo}}');"><img src="{{ asset('public') }}/{{ cursos.broshureInformativo }}" alt="img1" style="width: 100px; height: 70px;"></td>
                                            <td>{{ cursos.nombreCurso }}</td>
                                            <td>
                                                {% for d1 in d1 %}
                                                    {% for doc in doctores %}
                                                        {% if cursos.idCurso == d1.id_curso %}{% if doc.idDoctores == d1.id_doctores %} {{ doc.nombreDoc }}<br>{% endif %}{% endif %}
                                                    {% endfor %}
                                                {% endfor %}
                                            </td>
                                            <td>{{ cursos.cantAlumnosLimit }}</td>
                                            <td>{{ cursos.textoInformativo }}</td>
                                            <td>{{ cursos.numCuotas }}</td>
                                            <td><a href="{{ asset('public') }}/{{ cursos.rutaPdf}}">Ver</a></td>
                                            <td>{{ cursos.estadoCurso }}</td>
                                            <td style="text-align: center;">
                                                <a href="{{ asset('/secretaria/curso_edit') }}/{{ cursos.idCurso }}" title="Editar" class="btn btn-default" style="background: #0AA5E2;color: #ffffff;"><span class="glyphicon glyphicon-pencil" aria-hidden="true"/></a>
                                                -
                                                <button onClick="confirmar({{ cursos.idCurso }})" title="Desabilitar" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"/></button>
                                            </td>

                                        </tr>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End  Kitchen Sink -->
    </div>


{% endblock %}
{% block javascripts %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <script>
            window.onload = function error(){
                alertify.error("{{ flashMessage }}.");
                return false;
            }
        </script>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('exito') %}
        <script>
            window.onload = function notificacion(){
                alertify.success("{{ flashMessage }}.");
                return false;
            }
        </script>
    {% endfor %}
    <script>

        function confirmar(id){
            //un confirm
            alertify.confirm("<p>Esta seguro que desea Desabilitar el curso?<br><br><b>ENTER</b> y <b>ESC</b> corresponden a <b>Aceptar</b> o <b>Cancelar</b></p>", function (e) {
                if (e) {
                    location.href="{{ asset('/secretaria/curso_desabilitar') }}/"+id;
                } else { alertify.error("Has cancelado la operación");
                }
            });
            return false
        }
    </script>

    <script src="{{ asset('public/assets/js/dataTables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('public/assets/js/dataTables/dataTables.bootstrap.js') }}"></script>
    <script>
        $(document).ready(function() {

            $('#example').DataTable( {
                "order": [[ 3, "desc" ]]
            } );
        } );
    </script>

{% endblock %}
