{% extends 'base2.html.twig' %}
{% block active %}active-menu{% endblock %}
{% block styles %}
    <link href="{{ asset('public/assets/js/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{ asset('public/assets/css/select2.min.css') }}">
    <link href="{{ asset('public/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet"/>
{% endblock %}
{% block Header %}
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="{{ path('admin') }}">Inicio</a></li>
            <li><a href="{{ path('verCurso') }}">Cursos</a></li>
            <li class="active">Editar</li>
        </ol>
        <h2>Editar Curso</h2>
    </div>

{% endblock %}
{% block body %}
    <div class="row-fluid sortable">
        <div class="box span12">

            <div class="box-content">
                <form  id="formulario" class="form-horizontal" action="{{ path('editCurso',{'id': datos.idCurso}) }}" method="post" enctype="multipart/form-data" name="formulario">
                    <fieldset>
                        
                        <div class="col-md-6">
                            <div class="control-group" >
                                <label class="control-label" for="prependedInput">Nombre Curso</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <input value="{{ datos.nombreCurso }}" id="nombrecurso" class="form-control" name="nombrecurso" size="16" type="text" >
                                    </div>
                                </div>
                            </div>

                            <br>
                            <div class="control-group" >
                                <label class="control-label" for="prependedInput">Cantidad de Alumnos</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <input value="{{ datos.cantAlumnosLimit }}" id="cant_alum" class="form-control" name="cant_alum" size="16" type="number" min="8" placeholder="Numero" >
                                    </div>
                                </div>
                            </div>

                            <br>
                            <div class="control-group" >
                                <label class="control-label" for="prependedInput">Descripción Información</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <textarea name="des_info" class="form-control" rows="3">{{ datos.textoInformativo }}</textarea>
                                    </div>
                                </div>
                            </div>

                            <br>
                            <div class="control-group" >
                                <label class="control-label" for="prependedInput">Tipo Curso</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <select id="tc" name="tc" class="form-control">
                                            {% for tc in tc %}
                                            {% if datos.idTc.nombreTc == tc.nombreTc %}
                                                <option selected value="{{ tc.idTc }}">{{ tc.nombreTc }}</option>
                                            {% else %}
                                                <option value="{{ tc.idTc }}">{{ tc.nombreTc }}</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="control-group" >
                                <label class="control-label" for="prependedInput">Numero de Cuotas</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <input value="{{ datos.numCuotas }}" id="nun_cuo" class="form-control" name="nun_cuo" size="16" type="number" min="1" placeholder="Numero" >
                                    </div>
                                </div>
                            </div>

                            <br>
                            <div class="control-group" >
                                <label class="control-label" for="prependedInput">Broschure de Información (imagen)</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <input id="imagen" type="file" name="imagen">
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="control-group" >
                                <label class="control-label" for="prependedInput">Archivo PDF</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <input id="archivo" type="file"  name="archivo">
                                    </div>
                                </div>
                            </div>

                            <br>
                            <div class="control-group" >
                                <label class="control-label" for="prependedInput">Asignar Doctores al Curso</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <select class="js-example-basic-multiple" class="form-control" style="width: 100%"  multiple="multiple"  name="doc[]">
                                            {% for doc in doc %}
                                                {% if d1 == NULL %}
                                                    <option value="{{ doc.id_doctores }}">{{ doc.nombre_doc }}</option>
                                                {% else %}
                                                    {% for d1 in d1 %}
                                                        {% if doc.id_doctores == d1.id_doctores %}
                                                            <option selected value="{{ doc.id_doctores }}">{{ doc.nombre_doc }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <h2>Editar el Horario del Curso</h2>
                    <hr>
                    <fieldset>
                        <div class="col-md-6">
                            <div class="control-group" >
                                <label class="control-label" for="prependedInput">Fecha Inicio Curso</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <div class='input-group date' >
                                            <input value="{{ hc.fechaInicio.format("d-m-Y")}}" id="fechaini" class="form-control" name="fechaini" size="16" type="text" placeholder="dd/mm/aaaa">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br>
                            <div class="control-group" >
                                <label class="control-label" for="prependedInput">Inicio Recepción Documentos</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <div class='input-group date' >
                                            <input value="{{ hc.inicioRecepDoc.format("d-m-Y") }}" id="fechainirec" class="form-control" name="fechainirec" size="16" type="text" placeholder="dd/mm/aaaa">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br>
                            <div class="control-group" >
                                <label class="control-label" for="prependedInput">Inicio de Entrevista</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <div class='input-group date' >
                                            <input value="{{ hc.defechaEntrevista.format("d-m-Y") }}" id="fechainientre" class="form-control" name="fechainientre" size="16" type="text" placeholder="dd/mm/aaaa">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br>
                            <div class="control-group" >
                                <label class="control-label" for="prependedInput">Inicio de Evaluación</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <div class='input-group date' >
                                            <input value="{{ hc.defechaEvaluacion.format("d-m-Y") }}" id="fechainieva" class="form-control" name="fechainieva" size="16" type="text" placeholder="dd/mm/aaaa">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="control-group" >
                                <label class="control-label" for="prependedInput">Fecha Fin Curso</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <div class='input-group date' >
                                            <input value="{{ hc.fechaFin.format("d-m-Y") }}" id="fechafin" class="form-control" name="fechafin" size="16" type="text" placeholder="dd/mm/aaaa">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br>
                            <div class="control-group" >
                                <label class="control-label" for="prependedInput">Fin Recepción Documentos</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <div class='input-group date' >
                                            <input value="{{ hc.finRecepDoc.format("d-m-Y") }}" id="fechafinrec" class="form-control" name="fechafinrec" size="16" type="text" placeholder="dd/mm/aaaa">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br>
                            <div class="control-group" >
                                <label class="control-label" for="prependedInput">Fin de Entrevista</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <div class='input-group date' >
                                            <input value="{{ hc.afechaEntrevista.format("d-m-Y") }}" id="fechafinentre" class="form-control" name="fechafinentre" size="16" type="text" placeholder="dd/mm/aaaa">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br>
                            <div class="control-group" >
                                <label class="control-label" for="prependedInput">Fin de Evaluación</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <div class='input-group date' >
                                            <input value="{{ hc.afechaEvaluacion.format("d-m-Y") }}" id="fechafineva" class="form-control" name="fechafineva" size="16" type="text" placeholder="dd/mm/aaaa">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <br><br>
                    <div class="col-md-12" style="text-align: center; margin-top: 10px">
                        <button onclick="validar()" type="button" class="btn btn-primary" style="width: 15%;">Guardar</button>
                    </div>

                </form>
            </div>
        </div><!--/span-->

    </div><!--/row-->
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('public/js/moment.js') }} "></script>
    <script src="{{ asset('public/assets/js/select2.min.js') }}"></script>
    <script src="{{ asset('public/js/bootstrap-datetimepicker.min.js') }} "></script>

    <script type="text/javascript">

        $(".js-example-basic-multiple").select2();

        $(function () {
            $("#fechaini").datetimepicker({format: 'DD-MM-YYYY', minDate: "now"});
            $("#fechainirec").datetimepicker({format: 'DD-MM-YYYY', minDate: "now"});
            $("#fechainientre").datetimepicker({format: 'DD-MM-YYYY', minDate: "now"});
            $("#fechainieva").datetimepicker({format: 'DD-MM-YYYY', minDate: "now"});
            $("#fechafin").datetimepicker({format: 'DD-MM-YYYY', minDate: "now"});
            $("#fechafinrec").datetimepicker({format: 'DD-MM-YYYY', minDate: "now"});
            $("#fechafinentre").datetimepicker({format: 'DD-MM-YYYY', minDate: "now"});
            $("#fechafineva").datetimepicker({format: 'DD-MM-YYYY', minDate: "now"});
        });

        /*funciones para validar que las fechas no esten invertidas*/
        function validar() {
            var nombre = document.getElementById('nombrecurso').value;
            var cantidad = document.getElementById('cant_alum').value;
            var numero = document.getElementById('nun_cuo').value;
            var img = document.getElementById('imagen').value;
            var pdf = document.getElementById('archivo').value;
            var iniciocurso = document.getElementById('fechaini').value;
            var finalcurso  = document.getElementById('fechafin').value;
            var iniciodocu = document.getElementById('fechainirec').value;
            var finaldocu  = document.getElementById('fechafinrec').value;
            var inicioentre  = document.getElementById('fechainientre').value;
            var finalentre  = document.getElementById('fechafinentre').value;
            var inicioeva  = document.getElementById('fechainieva').value;
            var finaleva  = document.getElementById('fechafineva').value;

            var fechaAhora = moment().format('DD-MM-YYYY');

            if(nombre==''&&cantidad==''&&numero==''&&img==''&&pdf==''&&iniciocurso==''&&finalcurso==''&&iniciodocu==''&&finaldocu==''&&inicioentre==''&&finalentre==''&&inicioeva==''&&finaleva==''){
                alertify.error("Es Obligatorio Llenar Los Campos Requeridos");
            }else{
                if(nombre==''){
                    alertify.error("Es Obligatorio Llenar el Nombre del Curso");
                }else{
                    if(cantidad==''){
                        alertify.error("Es Obligatorio Llenar Cantidad de Alumnos");
                    }else{
                        if(cantidad<8){
                            alertify.error("La Cantidad de Alumnos debe ser igual o mayor a 8");
                        }else{
                            if(numero==''){
                                alertify.error("Es Obligatorio Llenar Numero de Cuotas");
                            }else {
                                if(numero<1){
                                    alertify.error("El Numero de Cuotas debe ser igual o mayor a 1");
                                }else{
                                    if(img==''){
                                        alertify.error("Es Obligatorio Subir una Imagen");
                                    }else{
                                        if(pdf==''){
                                            alertify.error("Es Obligatorio Subir un archivo PDF");
                                        }else{
                                            if(iniciocurso==''){
                                                alertify.error("Es Obligatorio Seleccionar Fecha Inicio del Curso");
                                            }else{
                                                if(iniciocurso<fechaAhora) {
                                                    alertify.error("La fecha de Inicio de Curso debe ser igual o mayor a la "+ fechaAhora);
                                                }else{
                                                    if(finalcurso==''){
                                                        alertify.error("Es Obligatorio Seleccionar Fecha Fin del Curso");
                                                    }else{
                                                        if(finalcurso<fechaAhora) {
                                                            alertify.error("La fecha de Fin de Curso debe ser igual o mayor a la "+ fechaAhora);
                                                        }else{
                                                            if(iniciocurso>finalcurso) {
                                                                alertify.error("La fecha de Inicio de Curso debe ser menor que la fecha de Fin de curso");
                                                            }else{
                                                                if(iniciodocu=='') {
                                                                    alertify.error("Es Obligatorio Seleccionar Fecha Inicio de Recepción de Documentos");
                                                                }else{
                                                                    if(iniciodocu<fechaAhora){
                                                                        alertify.error("La fecha de Inicio de Recepción de Documentos debe ser igual o mayor a la "+ fechaAhora);
                                                                    }else{
                                                                        if(finaldocu==''){
                                                                            alertify.error("Es Obligatorio Seleccionar Fecha de Fin de Recepción de Documentos");
                                                                        }else{
                                                                            if(finaldocu<fechaAhora){
                                                                                alertify.error("La fecha de Fin de Recepción de Documentos debe ser igual o mayor a la "+ fechaAhora);
                                                                            }else{
                                                                                if(iniciodocu>finaldocu){
                                                                                    alertify.error("La fecha de Inicio de Recepción de Documentos debe ser menor que la fecha de Fin de Recepción de Documentos");
                                                                                }else{
                                                                                    if(inicioentre==''){
                                                                                        alertify.error("Es Obligatorio Seleccionar Fecha de Inicio de Entrevista");
                                                                                    }else{
                                                                                        if(inicioentre<fechaAhora){
                                                                                            alertify.error("La fecha de Inicio de Entrevista debe ser igual o mayor a la "+ fechaAhora);
                                                                                        }else{
                                                                                            if(finalentre==''){
                                                                                                alertify.error("Es Obligatorio Seleccionar Fecha de Fin de Entrevista");
                                                                                            }else{
                                                                                                if(finalentre<fechaAhora){
                                                                                                    alertify.error("La fecha de Fin de Entrevista debe ser igual o mayor a la "+ fechaAhora);
                                                                                                }else{
                                                                                                    if(inicioentre>finalentre){
                                                                                                        alertify.error("La fecha de Inicio de Entrevista debe ser menor que la fecha de Fin de Entrevista");
                                                                                                    }else{
                                                                                                        if(inicioeva==''){
                                                                                                            alertify.error("Es Obligatorio Seleccionar Fecha de Inicio de Evaluación");
                                                                                                        }else{
                                                                                                            if(inicioeva<fechaAhora){
                                                                                                                alertify.error("La fecha de Inicio de Evaluación debe ser igual o mayor a la "+ fechaAhora);
                                                                                                            }else{
                                                                                                                if(finaleva==''){
                                                                                                                    alertify.error("Es Obligatorio Seleccionar Fecha de Fin de Evaluación");
                                                                                                                }else{
                                                                                                                    if(finaleva<fechaAhora){
                                                                                                                        alertify.error("La fecha de Fin de Evaluación debe ser igual o mayor a la "+ fechaAhora);
                                                                                                                    }else{
                                                                                                                        if(inicioeva>finaleva){
                                                                                                                            alertify.error("La fecha de Inicio de Evaluación debe ser menor que la fecha de Fin de Evaluación");
                                                                                                                        }else{
                                                                                                                            /*identifica el nombre del formulario*/
                                                                                                                            document.formulario.submit()
                                                                                                                        }
                                                                                                                    }
                                                                                                                }
                                                                                                            }
                                                                                                        }
                                                                                                    }
                                                                                                }
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                }
                                                                            }

                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    </script>
{% endblock %}