{% extends 'base2.html.twig' %}
{% block active %}active-menu{% endblock %}
{% block styles %}
    <link href="{{ asset('public/assets/css/fancyzoom.css') }}" rel="stylesheet"/>
{% endblock %}


{% block Header %}
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="{{ path('interesado') }}">Inicio</a></li>
            <li class="active">Ayuda</li>
        </ol>
        <h2>Ayuda al interesado</h2>
    </div>
{% endblock %}

{% block body %}
    <form class="form-horizontal"  enctype="multipart/form-data" name="formulario">
        <fieldset>
            <div class="col-md-12">
                <div align="center"  id="menuPrincipal" >
                    <strong> Ayuda? </strong>
                </div>

                <dl>
                    <dt> a) Diseño de Sigepradest </dt>
                    <ul> La Nagevacion en Sigepradest se compone de cinco grupos de elementos en la pantalla:
                        <li value="1" ><a href="#alternar1" id="nav1"> Panel de Navegacion</a></li>
                        <li> <a href="#alternar2" id="nav2" > Barra de titulo y botones de accion</a></li>
                        <li> <a href="#alternar3" id="nav3"> Botones de navegacion</a></li>
                        <li> <a href="#alternar4" id="nav4"> Barra de busqueda y registros en las tablas</a></li>
                        <li> <a href="#alternar5" id="nav5"> Area de trabajo</a></li>
                    </ul>

                    <dt><br> b) Actividad: </dt>
                    <ul>
                        <li> <a href="#alternar-respuesta-ej1" id="nav11">Como es el proceso de inscripcion </a></li>
                        <li> <a href="#alternar-respuesta-ej2" id="nav12">Como funciona la pantalla de inicio</a></li>
                        <li> <a href="#alternar-respuesta-ej3" id="nav13">Crear o editar mi perfil</a></li>
                        <li> <a href="#alternar-respuesta-ej4" id="nav14">Solicitar Cita para la Inscripcion de un curso </a></li>
                        <li> <a href="#alternar-respuesta-ej5" id="nav15">Ver mis solicitudes</a></li>
                        <li> <a href="#alternar-respuesta-ej6" id="nav16">Ver mis citas</a></li>
                        <li> <a href="#alternar-respuesta-ej7" id="nav17">Cambiar mi contraseña </a></li>
                    </ul>
                </dl> <br><br><br><br><br>
            </div>


            <div>

                <div class="col-md-12">
                    <div align="center" style="border:4px solid mediumpurple; padding: 15px" id="panelDiseño" >
                        <strong> Elementos graficos de pantalla de Sigepradest </strong>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="control-group">
                        <div class='section' id='apartado-menu1'>


                            <p><strong>Panel de navegacion </strong><br>(<a href="#imagen1" id="alternar1"> descripcion </a>)
                            <div id="mostrar1" style="display:none">
                                <ul > Comprime el contenido de las acciones para ayudarle a navegar más rápido y permitir acceder a las acciones operacionales segun sea su tipo de usuario.
                                    Haga clic en la ficha de una página para ver su contenido (Panel de la izquierda)</ul>
                                <div align="center"><a href="{{ asset('public/assets/img/ayuda/panelNavegacionInteresado.png') }}" class="fancy"><img id= "imagen1" src="{{ asset('public/assets/img/ayuda/panelNavegacionInteresado.png') }}" class="img-responsive"></a></div>


                            </div>

                            <p><strong>Barra de titulo y botones de accion </strong><br>(<a href="#imagen2" id="alternar2"> descripcion </a>)
                            <div id="mostrar2" style="display:none">
                                <li value="1">login : permite acceder al sistema e iniciar sesion, se debe de introducir las credenciales correctas username y paswoord</li>
                                <li>logout: termina la sesion actual</li>
                                <li>Ayuda: segun el tipo de usuario permite lanzar un material de informacion de ayuda al usuario</li>
                                <li>Cambiar passwoord: Permite realizar cambio respecto a la paswoord del usuario actual logueado</li>
                                <div align="center"><a href="{{ asset('public/assets/img/ayuda/barraTituloAcciones.png') }}" class="fancy"><img id= "imagen2" src="{{ asset('public/assets/img/ayuda/barraTituloAcciones.png') }}" class="img-responsive"></a></div>
                            </div>

                            <p><strong>Barra de navegacion </strong><br>(<a href="#imagen3" id="alternar3"> descripcion </a>)
                            <div id="mostrar3" style="display:none">
                                <ul >Cambia segun la actividad que se esta realizando actualmente por el usuario.
                                    Caracteristicas:
                                    <li> Cuando un usuario inicia sesion esta en: inicio </li>
                                    <li> Si realiza una accion del Panel de nagevacion o una operacion: se agrega una ruta </li>
                                    <li> La navegacion es inversa , puede retroceder dando clic en una ruta anterior.</li>
                                </ul>
                                <div align="center"><a href="{{ asset('public/assets/img/ayuda/barraNavegacion.png') }}" class="fancy"><img id= "imagen3" src="{{ asset('public/assets/img/ayuda/barraNavegacion.png') }}" class="img-responsive"></a></div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="control-group">
                        <div class='section' id='apartado-menu2'>


                            <p><strong>barra de busqueda y registros en las tablas </strong><br>(<a href="#imagen4" id="alternar4"> descripcion </a>)
                            <div id="mostrar4" style="display:none">

                                <ul>Elementos comunes de una tabla:
                                    <li>Agregar: llama un formulario, en el se debe de llenar los datos respetivos y cumplir las condiciones si existiesen.</li>
                                    <li>Buscar: permite realizar una busqueda en los registros actuales, realiza un filtro y los muestra en la tabla actual</li>
                                    <li>Mostrar # de registro: permite mostrar 10, 25 , 50  o 100 registro en una tabla , si exceden a estos se agrega  otra tabla esto es una pagina y sirve para lograr ver los registros faltantes.</li>
                                    <li>Avanzar y Retroceder Pagina: opciones que permite mostrar en una tabla los registros , y estan a disposicion los botones de numerales, anterior y siguiente para visaulizarlos</li>
                                    <div align="center"><a href="{{ asset('public/assets/img/ayuda/elementosTablasTutor.png') }}" class="fancy"><img src="{{ asset('public/assets/img/ayuda/elementosTablasTutor.png') }}" class="img-responsive"></a></div>
                                </ul>
                                <ul><br>   Seccion de botones de accion:
                                    <li>Editar: se localiza y se selecciona un registro que desea editar del sistema.</li>
                                    <li>Eliminar: se localiza y se selecciona un registro que desea eliminar del sistema.</li>
                                    <li>Ver: Muestra la solicitud, para realizar la cita</li>
                                    <div align="center"><a href="{{ asset('public/assets/img/ayuda/botonesAccionInteresado.png') }}" class="fancy"><img src="{{ asset('public/assets/img/ayuda/botonesAccionInteresado.png') }}" class="img-responsive"></a></div>
                                </ul>

                                <ul><br>
                                    Botones de confirmacion:
                                    <li>Guardar: segun sea la operacion a realizar, crea un registro y lo almacena en el sistema</li>
                                    <li>Actualizar: se localiza y se selecciona un registro que desea editar , guarda los cambios realizados en el sistema.</li>
                                    <div align="center"><a href="{{ asset('public/assets/img/ayuda/guardarActualizarV1.png') }}" class="fancy"><img id= "imagen3" src="{{ asset('public/assets/img/ayuda/guardarActualizarV1.png') }}" class="img-responsive"></a></div>
                                </ul>
                            </div>



                            <p><strong>Area de trabajo </strong><br>(<a href="#imagen5" id="alternar5"> descripcion </a>)
                            <div id="mostrar5" style="display:none">
                                <ul>En este espacio, es donde muestra las operaciones segun sea la accion hecha en panel de navegacion.</ul>
                                <div align="center"><a href="{{ asset('public/assets/img/ayuda/navegacionTrabajoInteresado.png') }}" class="fancy"><img id= "imagen5" src="{{ asset('public/assets/img/ayuda/navegacionTrabajoInteresado.png') }}" class="img-responsive"></a></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-12"> <br><br><br><br>
                <div align="center" style="border:4px solid peru; padding: 15px"   id="panelNavegacion" >
                    <strong>¿Necesitas ayuda acerca de ?</strong>
                </div>
            </div>

            <div class="col-md-12">
                <div class="control-group">
                    <div class='section' id='apartado-menu3'>

                        <p><strong>Pregunta 1 :
                                <br>¿Como es el proceso de inscripcion ?
                                <br>¿Que debo de hacer para inscribirme a un curso, publicado en la pagina de Escuela de Postgrado FOUES?
                            </strong><br>(<a href="#final1" id="alternar-respuesta-ej1">ver respuesta</a>)
                        <div id="respuesta-ej1" style="display:none">
                            <dl>
                                <ol>
                                    <dt>Los pasos a seguir para el procesos de inscripcion son los siguientes:</dt><br>
                                    <li type="circle"> Si el usuario es nuevo en el proceso, entonces en este momento usted es un usuario de tipo: interesado
                                        <br> Ya que esta en el sistema esta registrado, pero inscrito en un curso.
                                        <ol> <br>Entonces Debera de realizar los siguientes pasos:<br>

                                            <br><li type="circle">Periodo: Recepción de documentos
                                                <ol>
                                                    <li value="1">Llenar su hoja perfil </li>
                                                    <li>Buscar y Seleccionar un curso de la pantalla inicio</li>
                                                    <li>Llenar la hoja de solicitud para realizar una cita, solo debe de ingresar su informacion academica <br>y su disponibilidad de tiempo para realizar un cita</li>
                                                    <li>Esperar el proceso de evaluacion en la aprobacion o denegacion de su solicitud</li>
                                                </ol>
                                            </li>

                                            <br><li type="circle">Periodo: Entrevistas
                                                <ol>
                                                    <li value="5">Una vez aprobada la solicitud, buscar en el apartado de citas, la fecha y hora que debera <br> presentarse a las instalacion de La Escuela de Postgrado FOUES</li>
                                                    <li>Realizar los pagos respectivos, segun las indicaciones proporcionadas en la cita: <br> preinscripcion, inscripcion si existiesen</li>
                                                    <li>Esperar el proceso de cambio del tipo de usuario: Interesado a Alumno,<br>  siempre ingresara con las misma credenciales al sistema</li>
                                                </ol>
                                            </li>

                                            <br><li type="circle">Periodo: Evaluación
                                                <ol>
                                                    <li value="7">Presentarse para realizar las evaluaciones en FOUES, segun las indicaciones proporcionadas en la cita, si existiesen</li>
                                                    <li>Llenar la hoja de Curriculum y datos personales</li>
                                                    <li>Realizar los pagos respectivos, segun las indicaciones proporcionadas en la cita: matricula y 1° cuota</li>
                                                    <li>Esperar el proceso de inscripcion de todos los interesados que haya finalizado, <br> si ha cumplido con todo lo anterior entonces se le inscribira en el curso solicitado y se le notificara</li>
                                                </ol>
                                            </li>

                                            <br><li id="final1" type="circle">Periodo: inicio de curso  y fin de curso
                                                <ol>
                                                    <li value="11">Presentarse a las clases y evaluaciones respectivas segun indicado en la informacion del curso</li>
                                                    <li>Realizar los pagos de cuotas segun las fechas respectivas</li>
                                                </ol>
                                            </li>
                                        </ol>
                                    </li>
                                    <br><li type="circle">Los unicos procesos que requieren presencia de la persona en FOUES son:
                                        <ol>
                                            <li type="circle">El dia de la entrevista, el paso 5</li>
                                            <li type="circle">Para realizar los pagos respectivos, el paso 6,9</li>
                                            <li type="circle">Para realizar las evaluciones si existiesen, paso 7</li>
                                        </ol>
                                    </li>
                                    <br><li type="circle">Debe de tener presente que para cada curso publicado se necesita un minimo de N personas, que realicen este proceso de solicitud e inscripcion</li>
                                    <br><li type="circle">Debe de tener presenta para los periodos las fecha respectivas del cursos solicitado:
                                        <ol>
                                            <li type="circle">Fecha Inicio recepción de documentos y Fecha Fin recepción de documentos</li>
                                            <li type="circle">Fecha Inicio de entrevistas y Fecha Fin de entrevistas</li>
                                            <li type="circle">Fecha Inicio de evaluación y Fecha Fin de evaluación</li>
                                            <li id="final1" type="circle"> Fecha inicio de curso  y Fecha fin de curso</li>
                                        </ol>
                                    </li>
                                </ol>
                            </dl>
                        </div>













                        <br>¿Como funciona la pantalla de inicio ?

                        <p><strong>Pregunta 2 :
                                <br> ¿Donde esta esa ficha de perfil ?
                                <br> ¿Como puedo llenar la ficha de perfil?
                                <br> ¿Que es lo que me pide esa ficha de perfil ?
                            </strong><br>(<a href="#" id="alternar-respuesta-ej2">ver respuesta</a>)
                        <div id="respuesta-ej2" style="display:none">
                            <dl>
                                <ol>
                                    <dt>La ficha esta en el Panel Interesado se debe realizar los siguientes pasos:</dt><br>
                                    <li value="1"> Panel Interesado / clic en el boton:  Mi Perfil</li>
                                    <li> En la ventana: Mi Perfil se llenar lo datos que se solicita y se guardar:</li>
                                    <ul> Se pide los siguientes datos del interesado:
                                        <ol>
                                            <li type="circle"> DUI, NIT, Fecha de Nacimiento,Estado Civil,email </li>
                                            <li type="circle"> No. telefono movil y particular si tiene,Direccion de residencia</li>
                                            <li type="circle"> Lugar de trabajo, No. Telefono de trabajo, Direccion de trabajo.</li>
                                        </ol>
                                    </ul>
                                    <li> Al finalizar dar clic en el boton: Guardar ,
                                        <br> para almacenar los datos y despues procedemos a solicitar una cita.
                                    </li>
                                </ol>
                            </dl>
                        </div>


                        <p><strong>Pregunta 3 :
                                <br> ¿Quiero solicitar una cita pero el sistema no me deja?
                                <br> ¿Por que no puedo solicitar directamente?
                            </strong><br>(<a href="#" id="alternar-respuesta-ej3">ver respuesta</a>)
                        <div id="respuesta-ej3" style="display:none">
                            <dl>
                                <ol>
                                    <li type="circle" > El sistema no procesa la solicitud, cuando no existen citas disponibles, esto por que a la fecha y hora solicitada estan completadas por otros interesados</li>
                                    <li type="circle" > El sistema no permite solicitar cita directamente, sino se ha completa el perfil, es un requisito importante que se solicita</li>
                                </ol>
                            </dl>
                        </div>

                        <p><strong>Pregunta 4 :
                                <br> ¿Ya eh llenado el perfil con mis datos, como se puede solicitar una cita?
                                <br> ¿Como agregar una nueva cita?
                            </strong><br>(<a href="#" id="alternar-respuesta-ej4">ver respuesta</a>)
                        <div id="respuesta-ej4" style="display:none">
                            <dl>
                                <ol>
                                    <dt>La cita esta en el Panel Interesado se debe realizar los siguientes pasos:</dt><br>
                                    <li value="1"> Panel Interesado / clic en el boton:  Citas</li>
                                    <li> En la ventana: lista de Citas / clic en Agregar Nueva cita:</li>

                                    PENDIENTE DE PROCESAR


                                    <li> Al finalizar dar clic en el boton: Guardar ,
                                        <br> para almacenar los datos y despues procedemos a solicitar una cita.
                                    </li>
                                </ol>
                            </dl>
                        </div>

                        <p><strong>Pregunta 5 :
                                <br> ¿Cuales son los pasos a seguir para inscribirme?
                            </strong><br>(<a href="#" id="alternar-respuesta-ej5">ver respuesta</a>)
                        <div id="respuesta-ej5" style="display:none">
                            <dl>

                            </dl>
                        </div>


                    </div>
                </div>
            </div>


        </fieldset>
    </form>

{%endblock %}

{% block javascripts %}
    <script src="{{ asset('public/assets/js/jquery.fancyzoom.js') }}"></script>


    <script>
        $(document).ready(function(){

            $("a.fancy").fancyZoom();

            $('#nav1').on('click',function(){
                cerrarTodo();
                $('#mostrar1').toggle('slow');
            });

            $('#nav2').on('click',function(){
                cerrarTodo();
                $('#mostrar2').toggle('slow');
            });

            $('#nav3').on('click',function(){
                cerrarTodo();
                $('#mostrar3').toggle('slow');
            });

            $('#nav4').on('click',function(){
                cerrarTodo();
                $('#mostrar4').toggle('slow');
            });

            $('#nav5').on('click',function(){
                cerrarTodo();
                $('#mostrar5').toggle('slow');
            });

            $('#alternar1').on('click',function(){
                $('#mostrar1').toggle('slow');
            });

            $('#alternar2').on('click',function(){
                $('#mostrar2').toggle('slow');
            });

            $('#alternar3').on('click',function(){
                $('#mostrar3').toggle('slow');
            });

            $('#alternar4').on('click',function(){
                $('#mostrar4').toggle('slow');
            });

            $('#alternar5').on('click',function(){
                $('#mostrar5').toggle('slow');
            });


            $('#nav11').on('click',function(){
                cerrarTodo();
                $('#respuesta-ej1').toggle('slow');
            });

            $('#nav12').on('click',function(){
                cerrarTodo();
                $('#respuesta-ej2').toggle('slow');
            });

            $('#nav13').on('click',function(){
                cerrarTodo();
                $('#respuesta-ej3').toggle('slow');
            });

            $('#nav14').on('click',function(){
                cerrarTodo();
                $('#respuesta-ej4').toggle('slow');
            });

            $('#nav15').on('click',function(){
                cerrarTodo();
                $('#respuesta-ej5').toggle('slow');
            });

            $('#nav16').on('click',function(){
                cerrarTodo();
                $('#respuesta-ej6').toggle('slow');
            });

            $('#nav17').on('click',function(){
                cerrarTodo();
                $('#respuesta-ej7').toggle('slow');
            });

            $('#nav18').on('click',function(){
                cerrarTodo();
                $('#respuesta-ej8').toggle('slow');
            });

            $('#nav19').on('click',function(){
                cerrarTodo();
                $('#respuesta-ej9').toggle('slow');
            });

            $('#alternar-respuesta-ej1').on('click',function(){
                $('#respuesta-ej1').toggle('slow');
            });

            $('#alternar-respuesta-ej2').on('click',function(){
                $('#respuesta-ej2').toggle('slow');
            });

            $('#alternar-respuesta-ej3').on('click',function(){
                $('#respuesta-ej3').toggle('slow');
            });

            $('#alternar-respuesta-ej4').on('click',function(){
                $('#respuesta-ej4').toggle('slow');
            });

            $('#alternar-respuesta-ej5').on('click',function(){
                $('#respuesta-ej5').toggle('slow');
            });

            $('#alternar-respuesta-ej6').on('click',function(){
                $('#respuesta-ej6').toggle('slow');
            });

            $('#alternar-respuesta-ej7').on('click',function(){
                $('#respuesta-ej7').toggle('slow');
            });

            $('#alternar-respuesta-ej8').on('click',function(){
                $('#respuesta-ej8').toggle('slow');
            });

            $('#alternar-respuesta-ej9').on('click',function(){
                $('#respuesta-ej9').toggle('slow');
            });

        });

        function cerrarTodo(){
            $('#mostrar1').toggle(false);
            $('#mostrar2').toggle(false);
            $('#mostrar3').toggle(false);
            $('#mostrar4').toggle(false);
            $('#mostrar5').toggle(false);

            $('#respuesta-ej1').toggle(false);
            $('#respuesta-ej2').toggle(false);
            $('#respuesta-ej3').toggle(false);
            $('#respuesta-ej4').toggle(false);
            $('#respuesta-ej5').toggle(false);
            $('#respuesta-ej6').toggle(false);
            $('#respuesta-ej7').toggle(false);
            $('#respuesta-ej8').toggle(false);
            $('#respuesta-ej9').toggle(false);
        }
    </script>


{% endblock %}