{% extends 'base2.html.twig' %}
{% block active %}active-menu{% endblock %}
{% block styles %}
    <link href="{{ asset('public/assets/css/fancyzoom.css') }}" rel="stylesheet"/>
{% endblock %}


{% block Header %}
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="{{ path('interesado') }}">Inicio</a></li>
            <li class="active">Ayuda</li>
        </ol>
        <h2>Ayuda al interesado</h2>
    </div>
{% endblock %}

{% block body %}
    <form class="form-horizontal"  enctype="multipart/form-data" name="formulario">
        <fieldset>
            <div class="col-md-12">
                <div align="center"  id="menuPrincipal" >
                    <strong> Ayuda? </strong>
                </div>

                <dl>
                    <dt> a) Diseño de Sigepradest </dt>
                    <ul> La Nagevacion en Sigepradest se compone de cinco grupos de elementos en la pantalla:
                        <li value="1" ><a href="#alternar1" id="nav1"> Panel de Navegacion</a></li>
                        <li> <a href="#alternar2" id="nav2" > Barra de titulo y botones de accion</a></li>
                        <li> <a href="#alternar3" id="nav3"> Botones de navegacion</a></li>
                        <li> <a href="#alternar4" id="nav4"> Barra de busqueda y registros en las tablas</a></li>
                        <li> <a href="#alternar5" id="nav5"> Area de trabajo</a></li>
                    </ul>

                    <dt><br> b) Actividad: </dt>
                    <ul>
                        <li> <a href="#alternar-respuesta-ej1" id="nav11">Como es el proceso de inscripcion </a></li>
                        <li> <a href="#alternar-respuesta-ej2" id="nav12">Como funciona la pantalla de inicio</a></li>
                        <li> <a href="#alternar-respuesta-ej3" id="nav13">Llenar o editar mi hoja de perfil</a></li>
                        <li> <a href="#alternar-respuesta-ej4" id="nav14">Solicitar Cita para la Inscripcion de un curso </a></li>
                        <li> <a href="#alternar-respuesta-ej5" id="nav15">Llenar una solicitud de cita </a></li>
                        <li> <a href="#alternar-respuesta-ej6" id="nav16">Ver mis solicitudes</a></li>
                        <li> <a href="#alternar-respuesta-ej7" id="nav17">Ver mis citas, editar o eliminar citas</a></li>
                        <li> <a href="#alternar-respuesta-ej8" id="nav18">Cuando cambio a tipo de usuario: Alumno</a></li>
                    </ul>
                </dl> <br><br><br><br><br>
            </div>


            <div>

                <div class="col-md-12">
                    <div align="center" style="border:4px solid mediumpurple; padding: 15px" id="panelDiseño" >
                        <strong> Elementos graficos de pantalla de Sigepradest </strong>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="control-group">
                        <div class='section' id='apartado-menu1'>


                            <p><strong>Panel de navegacion </strong><br>(<a href="#imagen1" id="alternar1"> descripcion </a>)
                            <div id="mostrar1" style="display:none">
                                <ul > Comprime el contenido de las acciones para ayudarle a navegar más rápido y permitir acceder a las acciones operacionales segun sea su tipo de usuario.
                                    Haga clic en la ficha de una página para ver su contenido (Panel de la izquierda)</ul>
                                <div align="center"><a href="{{ asset('public/assets/img/ayuda/panelNavegacionInteresado.png') }}" class="fancy"><img id= "imagen1" src="{{ asset('public/assets/img/ayuda/panelNavegacionInteresado.png') }}" class="img-responsive"></a></div>


                            </div>

                            <p><strong>Barra de titulo y botones de accion </strong><br>(<a href="#imagen2" id="alternar2"> descripcion </a>)
                            <div id="mostrar2" style="display:none">
                                <li value="1">login : permite acceder al sistema e iniciar sesion, se debe de introducir las credenciales correctas username y paswoord</li>
                                <li>logout: termina la sesion actual</li>
                                <li>Ayuda: segun el tipo de usuario permite lanzar un material de informacion de ayuda al usuario</li>
                                <li>Cambiar passwoord: Permite realizar cambio respecto a la paswoord del usuario actual logueado</li>
                                <div align="center"><a href="{{ asset('public/assets/img/ayuda/barraTituloAcciones.png') }}" class="fancy"><img id= "imagen2" src="{{ asset('public/assets/img/ayuda/barraTituloAcciones.png') }}" class="img-responsive"></a></div>
                            </div>

                            <p><strong>Barra de navegacion </strong><br>(<a href="#imagen3" id="alternar3"> descripcion </a>)
                            <div id="mostrar3" style="display:none">
                                <ul >Cambia segun la actividad que se esta realizando actualmente por el usuario.
                                    Caracteristicas:
                                    <li> Cuando un usuario inicia sesion esta en: inicio </li>
                                    <li> Si realiza una accion del Panel de nagevacion o una operacion: se agrega una ruta </li>
                                    <li> La navegacion es inversa , puede retroceder dando clic en una ruta anterior.</li>
                                </ul>
                                <div align="center"><a href="{{ asset('public/assets/img/ayuda/barraNavegacion.png') }}" class="fancy"><img id= "imagen3" src="{{ asset('public/assets/img/ayuda/barraNavegacion.png') }}" class="img-responsive"></a></div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="control-group">
                        <div class='section' id='apartado-menu2'>


                            <p><strong>barra de busqueda y registros en las tablas </strong><br>(<a href="#imagen4" id="alternar4"> descripcion </a>)
                            <div id="mostrar4" style="display:none">

                                <ul>Elementos comunes de una tabla:
                                    <li>Agregar: llama un formulario, en el se debe de llenar los datos respetivos y cumplir las condiciones si existiesen.</li>
                                    <li>Buscar: permite realizar una busqueda en los registros actuales, realiza un filtro y los muestra en la tabla actual</li>
                                    <li>Mostrar # de registro: permite mostrar 10, 25 , 50  o 100 registro en una tabla , si exceden a estos se agrega  otra tabla esto es una pagina y sirve para lograr ver los registros faltantes.</li>
                                    <li>Avanzar y Retroceder Pagina: opciones que permite mostrar en una tabla los registros , y estan a disposicion los botones de numerales, anterior y siguiente para visaulizarlos</li>
                                    <div align="center"><a href="{{ asset('public/assets/img/ayuda/elementosTablasTutor.png') }}" class="fancy"><img src="{{ asset('public/assets/img/ayuda/elementosTablasTutor.png') }}" class="img-responsive"></a></div>
                                </ul>
                                <ul><br>   Seccion de botones de accion:
                                    <li>Editar: se localiza y se selecciona un registro que desea editar del sistema.</li>
                                    <li>Eliminar: se localiza y se selecciona un registro que desea eliminar del sistema.</li>
                                    <li>Ver: Muestra la solicitud, para realizar la cita</li>
                                    <div align="center"><a href="{{ asset('public/assets/img/ayuda/botonesAccionInteresado.png') }}" class="fancy"><img src="{{ asset('public/assets/img/ayuda/botonesAccionInteresado.png') }}" class="img-responsive"></a></div>
                                </ul>

                                <ul><br>
                                    Botones de confirmacion:
                                    <li>Guardar: segun sea la operacion a realizar, crea un registro y lo almacena en el sistema</li>
                                    <li>Actualizar: se localiza y se selecciona un registro que desea editar , guarda los cambios realizados en el sistema.</li>
                                    <div align="center"><a href="{{ asset('public/assets/img/ayuda/guardarActualizarV1.png') }}" class="fancy"><img id= "imagen3" src="{{ asset('public/assets/img/ayuda/guardarActualizarV1.png') }}" class="img-responsive"></a></div>
                                </ul>
                            </div>



                            <p><strong>Area de trabajo </strong><br>(<a href="#imagen5" id="alternar5"> descripcion </a>)
                            <div id="mostrar5" style="display:none">
                                <ul>En este espacio, es donde muestra las operaciones segun sea la accion hecha en panel de navegacion.</ul>
                                <div align="center"><a href="{{ asset('public/assets/img/ayuda/navegacionTrabajoInteresado.png') }}" class="fancy"><img id= "imagen5" src="{{ asset('public/assets/img/ayuda/navegacionTrabajoInteresado.png') }}" class="img-responsive"></a></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-12"> <br><br><br><br>
                <div align="center" style="border:4px solid peru; padding: 15px"   id="panelNavegacion" >
                    <strong>¿Necesitas ayuda acerca de ?</strong>
                </div>
            </div>

            <div class="col-md-12">
                <div class="control-group">
                    <div class='section' id='apartado-menu'>

                        <p><strong>Pregunta 1 :
                                <br>¿Como es el proceso de inscripcion ?
                                <br>¿Que debo de hacer para inscribirme a un curso, publicado en la pagina de Escuela de Postgrado de FOUES?
                                <br>Secuencia logica del proceso de inscripcion.
                                <br>FOUES: Facultad de Odontología Universidad de El Salvador.
                            </strong><br>(<a href="#final1" id="alternar-respuesta-ej1">ver respuesta</a>)
                        <div id="respuesta-ej1" style="display:none">
                            <dl>
                                <ol>
                                    <dt>Los pasos a seguir para el procesos de inscripcion son los siguientes:</dt><br>
                                    <li type="circle"> Si el usuario es nuevo en el proceso, entonces en este momento usted es un usuario de tipo: interesado
                                        <br> Ya que esta en el sistema esta registrado, pero inscrito en un curso.
                                        <ol> <br>Entonces Debera de realizar los siguientes pasos:<br>

                                            <br><li type="circle">Periodo: Recepción de documentos
                                                <ol>
                                                    <li value="1">Llenar su hoja perfil </li>
                                                    <li>Buscar y Seleccionar un curso de la pantalla inicio</li>
                                                    <li>Llenar la hoja de solicitud para realizar una cita, solo debe de ingresar su informacion academica <br>y su disponibilidad de tiempo para realizar esta cita</li>
                                                    <li>Esperar el proceso de evaluacion en la aprobacion o denegacion de su solicitud</li>
                                                </ol>
                                            </li>

                                            <br><li type="circle">Periodo: Entrevistas
                                                <ol>
                                                    <li value="5">Una vez aprobada la solicitud, buscar en el apartado de citas, la fecha y hora que debera <br> presentarse a las instalacion de La Escuela de Postgrado FOUES</li>
                                                    <li>Realizar los pagos respectivos, segun las indicaciones proporcionadas en la cita: <br> preinscripcion, inscripcion si existiesen</li>
                                                    <li>Esperar el proceso de cambio del tipo de usuario: Interesado a Alumno,<br>  siempre ingresara con las misma credenciales al sistema</li>
                                                </ol>
                                            </li>

                                            <br><li type="circle">Periodo: Evaluación
                                                <ol>
                                                    <li value="7">Presentarse para realizar las evaluaciones en FOUES, segun las indicaciones proporcionadas en la cita, si existiesen</li>
                                                    <li>Llenar la hoja de Curriculum y datos personales</li>
                                                    <li>Realizar los pagos respectivos, segun las indicaciones proporcionadas en la cita: matricula y 1° cuota</li>
                                                    <li>Esperar el proceso de inscripcion de todos los interesados que haya finalizado, <br> si ha cumplido con todo lo anterior entonces se le inscribira en el curso solicitado y se le notificara</li>
                                                </ol>
                                            </li>

                                            <br><li id="final1" type="circle">Periodo: inicio de curso  y fin de curso
                                                <ol>
                                                    <li value="11">Presentarse a las clases y evaluaciones respectivas segun indicado en la informacion del curso</li>
                                                    <li>Realizar los pagos de cuotas segun las fechas respectivas</li>
                                                </ol>
                                            </li>
                                        </ol>
                                    </li>
                                    <br><li type="circle">Los unicos procesos que requieren presencia de la persona en FOUES son:
                                        <ol>
                                            <li type="square">paso 5 : El dia de la entrevista, en la escuela de Postgrado de FOUES</li>
                                            <li type="square">paso 6 y 9 : Para realizar los pagos respectivos en la ventanilla de colecturia FOUES </li>
                                            <li type="square">paso 7 : Para realizar las evaluciones, si existiesen, en la escuela de Postgrado de FOUES</li>
                                        </ol>
                                    </li>
                                    <br><li type="circle">Debe de tener presente que para cada curso publicado se necesita un minimo de N personas, que realicen este proceso de solicitud e inscripcion</li>
                                    <br><li type="circle">Debe de tener presente para los periodos las fecha respectivas del cursos solicitado:
                                        <ol>
                                            <li type="square">Fecha Inicio recepción de documentos y Fecha Fin recepción de documentos</li>
                                            <li type="square">Fecha Inicio de entrevistas y Fecha Fin de entrevistas</li>
                                            <li type="square">Fecha Inicio de evaluación y Fecha Fin de evaluación</li>
                                            <li id="final1" type="square"> Fecha inicio de curso  y Fecha fin de curso</li>
                                        </ol>
                                    </li>
                                </ol>
                            </dl>
                        </div>


                        <p><strong>Pregunta 2 :
                                <br> ¿Como funciona la pantalla de inicio ?
                            </strong><br>(<a href="#final2" id="alternar-respuesta-ej2">ver respuesta</a>)
                        <div id="respuesta-ej2" style="display:none">
                            <dl>
                                <ol>
                                    <dt>Desde el Panel de Nagevacion de Interesado se debe realizar los siguientes pasos:</dt>
                                    <li value="1"> Panel Navegacion / clic en el boton: Inicio (tiene un icono de casa)</li>
                                    <li> En la ventana: Inicio, se describe lo que se ve en el area de trabajo:
                                        <ol>Los cursos disponibles aparece en recuadros independientes, y tiene los siguientes elementos:
                                            <ol>
                                            <li type="circle">Un nombre titulo del curso, una imagen de informativa del curso</li>
                                            <li type="circle">Informacion en PDF del curso, Mas Informacion aqui (PDF) boton: Ver/Descargar</li>
                                            <li type="circle">Detalle del curso: Descripcion, Numero de cuotas y <br>las fechas de recepcion de documentos, entrevistas, evaluacion y inicio - finalizacion del curso</li>
                                            <li id="final2" type="circle">Un enlace: Ver / Llenar Solicitud , Este es muy importante, <br> con este enlace podemos solicitar una cita y  comenzar el proceso de seleccion e incripcion</li>
                                            </ol>
                                        </ol>
                                    </li>
                                </ol>
                            </dl>
                        </div>




                        <p><strong>Pregunta 3 :
                                <br> ¿Como puedo llenar o editar mi Hoja de perfil?
                                <br> ¿Donde esta esa Hoja o ficha de perfil ?
                            </strong><br>(<a href="#final3" id="alternar-respuesta-ej3">ver respuesta</a>)
                        <div id="respuesta-ej3" style="display:none">
                            <dl>
                                <ol>
                                    <dt>Desde el Panel de Nagevacion de Interesado se debe realizar los siguientes pasos:</dt>
                                    <li value="1"> Panel Navegacion / clic en el boton: Mi perfil</li>
                                    <li> En la ventana: Mi Perfil se llenar lo datos que se solicitan.</li>
                                    <ul> Se pide los siguientes datos del interesado:
                                        <ol>
                                            <li type="circle"> DUI, NIT, Fecha de Nacimiento,Estado Civil,email </li>
                                            <li type="circle"> No. telefono movil y particular si tiene,Direccion de residencia</li>
                                            <li type="circle"> Lugar de trabajo, No. Telefono de trabajo, Direccion de trabajo.</li>
                                        </ol>
                                    </ul>
                                    <li id="final3"> Al finalizar dar clic en el boton: Guardar;
                                        <br> Para almacenar los datos y despues procedemos a solicitar una cita.
                                        <br> Extrictamente para proceder a solicitar una cita se debe llenar esta hoja de perfil
                                    </li>
                                </ol>
                            </dl>
                        </div>


                        <p><strong>Pregunta 4 :
                                <br> ¿Solicitar Cita para la Inscripcion de un curso?
                                <br> ¿Quiero solicitar una cita pero el sistema no me deja?
                            </strong><br>(<a href="#final4" id="alternar-respuesta-ej4">ver respuesta</a>)
                        <div id="respuesta-ej4" style="display:none">
                            <dl>
                                <ol>
                                    <li type="circle" > El proceso de solicitar cita, es: <br> llenar la hoja de perfil y luego Llenar una solicitud de cita</li>
                                    <li type="circle" > El sistema no procesa la solicitud de cita, cuando no existen cupo disponibles, <br> esto es por que el curso solicitado esta completamente lleno</li>
                                    <li id="final4" type="circle" > El sistema no procesa la solicitud de cita directamente, <br> ya que es un requisito importante llenar la hoja de perfil y evaluar la solicitud</li>
                                </ol>
                            </dl>
                        </div>

                        <p><strong>Pregunta 5 :
                                <br> ¿Llenar una solicitud de cita?
                                <br> ¿Como agregar una nueva cita?
                                <br> ¿Ya eh llenado el perfil con mis datos, como se puede solicitar una cita?
                            </strong><br>(<a href="#final5" id="alternar-respuesta-ej5">ver respuesta</a>)
                        <div id="respuesta-ej5" style="display:none">
                            <dl>
                                <ol>
                                    <dt>Desde el Panel de Nagevacion de Interesado se debe realizar los siguientes pasos:</dt>
                                    <li value="1"> Panel Navegacion / clic en el boton: Inicio (tiene un icono de casa)</li>
                                    <li> En la ventana: inicio, se debe de buscar un curso y dar clic en el enlace: Ver / Llenar Solicitud,
                                        <br> (este siempre se encuentra en la parte inferior de un recuadro de un curso)
                                    </li>
                                    <li> En la ventana: Nueva Solicitud de Ingreso.
                                        <ol> Existe dos secciones en esta ventana cuales son:
                                            <li type="circle">Datos personales: que son los datos de perfil y en este momento no puede ser modificados.</li>
                                            <li type="circle">Informacion Academica: aqui debe agregar su informacion academica:
                                                <ol> Para agregar Informacion acedemica
                                                    <ol>
                                                    <li value="1">Clic en el boton: + Agregar, aparecera en la ventana: Información académica</li>
                                                    <li>Ingresar los siguiente datos: Universidad de procedencia, nombre de titulo obtenido, y el año obtenido</li>
                                                    <li>Clic en guardar y regresara a la ventana anterior: Nueva solicitud de Ingreso</li>
                                                    </ol>
                                                </ol>
                                                <ol>Para editar su informacion academica
                                                    <ol>
                                                    <li value="1"> clic en el boton: editar (es un icono de un lapiz en un recuadro azul),<br> aparecera una ventana: Información académica</li>
                                                    <li>Editara los siguiente datos: Universidad de procedencia, nombre de titulo obtenido, y el año obtenido</li>
                                                    <li>Al finalizar, clic en guardar y regresara a la ventana anterior: Nueva solicitud de Ingreso</li>
                                                    </ol>
                                                </ol>
                                                <ol>Para eliminar su informacion acedemica
                                                    <ol>
                                                    <li value="1">existe un boton: eliminar (es un icono de una basurero en un recuadro rojo)</li>
                                                    <li>Aparecera la confirmacion: Aceptar o Enter para eliminar / Cancelar o Esc para cancelar la operacion</li>
                                                    </ol>
                                                </ol>
                                                <ol> Existe un recuadro llamado: Disponibilidad: (Su tiempo disponible para asistir a entrevista)
                                                    <br> Aqui ingresara una informacion corta que se tomara en cuenta: fecha y hora para la entrevista
                                                </ol>
                                            </li>
                                        </ol>
                                    </li>


                                    <li id="final5"> Al finalizar dar clic en el boton: Enviar Solicitud ,
                                        <br> se almacenara los datos y en este momento se esperara la fecha de finalizacion recepcion de documentos
                                        <br> ya que es el tiempo para la aprobacion o denegacion de esta solicitudes.
                                        <br> la aprobacion de su solicitud depende de sus datos de perfil e informacion academica.
                                        <br> cuando inicie la fecha de entrevista, y sea aprobada su solicitud entonces se verificara su cita programada, puede ver la pregunta 7
                                    </li>
                                </ol>
                            </dl>
                        </div>

                        <p><strong>Pregunta 6 :
                                <br> ¿Ver mis solicitudes?
                            </strong><br>(<a href="#final6" id="alternar-respuesta-ej6">ver respuesta</a>)
                        <div id="respuesta-ej6" style="display:none">
                            <dl>
                                <ol>
                                    <dt>Desde el Panel de Nagevacion de Interesado se debe realizar los siguientes pasos:</dt>
                                    <li value="1"> Panel Navegacion / clic en el boton: Solicitudes</li>
                                    <li>En la ventana: Solicitudes,  se describira lo que contiene:
                                    <ol>
                                        <li type="circle">Los estados de las solicitudes puede ser: enviada, procesado, aprobada o denegada
                                            <ol>
                                            <li type="square"> enviada, la solicitud es enviada a FOUES y le asignaran una fecha y hora de entrevista, esto es un cita </li>
                                            <li type="square"> procesado, la solicitud es evaluada respeto a fecha, hora, datos personales e informacion academica</li>
                                            <li type="square"> aprobada o denegada, dependiendo de la evaluacion anterior esta se convierte en cita, <br>cual aparecera en el listado de cita</li>
                                            </ol>
                                        </li>
                                        <li id="final6" type="circle">un boton: llamado Ver, que muestra la solicitud enviada para su evaluacion</li>
                                    </ol>
                                    </li>
                                </ol>
                            </dl>
                        </div>



                        <p><strong>Pregunta 7 :
                                <br> ¿Ver mis citas, editar o eliminar citas?
                                <br> ¿Donde puedo gestionar mis citas o solicitudes de entrevistas aprobadas?
                            </strong><br>(<a href="#final7" id="alternar-respuesta-ej7">ver respuesta</a>)
                        <div id="respuesta-ej7" style="display:none">
                            <dl>
                                <ol>
                                    <dt>Desde el Panel de Nagevacion de Interesado se debe realizar los siguientes pasos:</dt>
                                    <li value="1"> Panel Navegacion / clic en el boton: Citas</li>
                                    <li>En la ventana: Listas de Citas,  se describira lo que contiene:
                                        <ol>
                                            <li type="circle">Un listado de citas, son las solicitudes aprobadas de los cursos para realizar la entrevista en FOUES </li>
                                            <li type="circle">Campos: Fecha y hora de la cita, Comentario de la cita, Nombre de Curso, botones de accion
                                                <ol>
                                                    <li type="square">Agregar Nueva Cita: Procede a solicitar un nueva cita respeto a un curso publicado en la pantalla de inicio</li>
                                                    <li type="square">Editar: muestra y puede modificar la cita </li>
                                                    <li type="square">Eliminar: quita la cita programada <br> Requiere confirmacion: <br> enter o aceptar para eliminar <br> o esc o cancelar para cancelar la operacion</li>
                                                </ol>
                                            </li>
                                        </ol>
                                    </li>
                                    <li> Si en la tabla existe muchos citas:
                                        <ol>
                                            <li type="circle"> Existe un cuadro de texto llamado: Buscar:
                                                <br> ( esta posicionado en la tabla - superior derecha )
                                            </li>
                                            <li type="circle" id="final7"> digite una palabra significativa para localizarlo</li>
                                        </ol>
                                    </li>
                                </ol>
                                <br><li type="circle">No se puede agregar mas de una cita de un cursos solicitado</li>
                                <li id="final7" type="circle">No se puede editar la fecha y hora programada por la Escuela de postgrado de FOUES.</li>
                            </dl>
                        </div>

                        <p><strong>Pregunta 8 :
                                <br> ¿Cuando cambio a tipo de usuario: Alumno?
                                <br> ¿Que le pasa mi cuenta de interesado?
                            </strong><br>(<a href="#final8" id="alternar-respuesta-ej8">ver respuesta</a>)
                        <div id="respuesta-ej8" style="display:none">
                            <dl>
                                <li type="circle">El cambio de tipo de usuario: Alumno, se realiza si cumple lo anterior, es decir:
                                    <ol>
                                        <li type="square">Llena su perfil, solicita una entrevista para la incripcion de un curso</li>
                                        <li type="square">Llega a la entrevista y realiza los pagos respetivos pre-inscripcion, incripcion indicadas en la entrevista</li>
                                        <li type="square">Y en este momento es que espera la finalizacion de la fecha de entrevista, FOUES realiza el cambio a tipo: Alumno </li>
                                        <li type="square">Cuando se realiza este cambio, el entorno de trabajo de sigepradest actual cambia. Añadiendo unas opciones mas.</li>
                                        <li type="square">Espera el periodo de evaluacion y realiza los pasos indicados  en la pregunta 1, Numeral 7</li>
                                    </ol>
                                </li>


                                <br><li type="circle">Puede que el cambio de tipo de usuario se realice antes de la fecha de finalizacion.</li>
                                <li type="circle">Y asi gestionar el cursos inscritos, los pagos respectivos, el llenado del curriculum y datos personales</li>
                                <li id="final8" type="circle">El acceso al sistema con sus credenciales no cambia.</li>
                            </dl>
                        </div>


                    </div>
                </div>
            </div>


        </fieldset>
    </form>

{%endblock %}

{% block javascripts %}
    <script src="{{ asset('public/assets/js/jquery.fancyzoom.js') }}"></script>
    <script>
        $(document).ready(function(){

            $("a.fancy").fancyZoom();

            $('#nav1').on('click',function(){
                cerrarTodo();
                $('#mostrar1').toggle('slow');
            });

            $('#nav2').on('click',function(){
                cerrarTodo();
                $('#mostrar2').toggle('slow');
            });

            $('#nav3').on('click',function(){
                cerrarTodo();
                $('#mostrar3').toggle('slow');
            });

            $('#nav4').on('click',function(){
                cerrarTodo();
                $('#mostrar4').toggle('slow');
            });

            $('#nav5').on('click',function(){
                cerrarTodo();
                $('#mostrar5').toggle('slow');
            });

            $('#alternar1').on('click',function(){
                $('#mostrar1').toggle('slow');
            });

            $('#alternar2').on('click',function(){
                $('#mostrar2').toggle('slow');
            });

            $('#alternar3').on('click',function(){
                $('#mostrar3').toggle('slow');
            });

            $('#alternar4').on('click',function(){
                $('#mostrar4').toggle('slow');
            });

            $('#alternar5').on('click',function(){
                $('#mostrar5').toggle('slow');
            });


            $('#nav11').on('click',function(){
                cerrarTodo();
                $('#respuesta-ej1').toggle('slow');
            });

            $('#nav12').on('click',function(){
                cerrarTodo();
                $('#respuesta-ej2').toggle('slow');
            });

            $('#nav13').on('click',function(){
                cerrarTodo();
                $('#respuesta-ej3').toggle('slow');
            });

            $('#nav14').on('click',function(){
                cerrarTodo();
                $('#respuesta-ej4').toggle('slow');
            });

            $('#nav15').on('click',function(){
                cerrarTodo();
                $('#respuesta-ej5').toggle('slow');
            });

            $('#nav16').on('click',function(){
                cerrarTodo();
                $('#respuesta-ej6').toggle('slow');
            });

            $('#nav17').on('click',function(){
                cerrarTodo();
                $('#respuesta-ej7').toggle('slow');
            });

            $('#nav18').on('click',function(){
                cerrarTodo();
                $('#respuesta-ej8').toggle('slow');
            });


            $('#alternar-respuesta-ej1').on('click',function(){
                $('#respuesta-ej1').toggle('slow');
            });

            $('#alternar-respuesta-ej2').on('click',function(){
                $('#respuesta-ej2').toggle('slow');
            });

            $('#alternar-respuesta-ej3').on('click',function(){
                $('#respuesta-ej3').toggle('slow');
            });

            $('#alternar-respuesta-ej4').on('click',function(){
                $('#respuesta-ej4').toggle('slow');
            });

            $('#alternar-respuesta-ej5').on('click',function(){
                $('#respuesta-ej5').toggle('slow');
            });

            $('#alternar-respuesta-ej6').on('click',function(){
                $('#respuesta-ej6').toggle('slow');
            });

            $('#alternar-respuesta-ej7').on('click',function(){
                $('#respuesta-ej7').toggle('slow');
            });

            $('#alternar-respuesta-ej8').on('click',function(){
                $('#respuesta-ej8').toggle('slow');
            });


        });

        function cerrarTodo(){
            $('#mostrar1').toggle(false);
            $('#mostrar2').toggle(false);
            $('#mostrar3').toggle(false);
            $('#mostrar4').toggle(false);
            $('#mostrar5').toggle(false);

            $('#respuesta-ej1').toggle(false);
            $('#respuesta-ej2').toggle(false);
            $('#respuesta-ej3').toggle(false);
            $('#respuesta-ej4').toggle(false);
            $('#respuesta-ej5').toggle(false);
            $('#respuesta-ej6').toggle(false);
            $('#respuesta-ej7').toggle(false);
            $('#respuesta-ej8').toggle(false);
        }
    </script>


{% endblock %}