{% extends'base2.html.twig' %}
{% block active %}active-menu{% endblock %}
{% block styles %}
    <link href="{{ asset('public/assets/js/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet"/>
{% endblock %}
{% block Header %}
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="{{ path('secretaria') }}">Inicio</a></li>
            {#<li><a href="{{ path('alumnos') }}">Nuevo alumno</a></li>#}
            <li class="active">Currículum</li>
        </ol>
        <h2>Gestion de currículum</h2>
    </div>
{% endblock %}
{% block body -%}

<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
               Seleccione un recuadro para la edición
            </div>


            {% block javascripts %}
                {% for flashMessage in app.session.flashbag.get('error') %}
                <script>
                    window.onload = function error(){
                        alertify.error("{{ flashMessage }}.");
                        return false;
                    }
                </script>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('exito') %}
                <script>
                    window.onload = function notificacion(){
                        alertify.success("{{ flashMessage }}.");
                        return false;
                    }
                </script>
                {% endfor %}
            {% endblock %}
            <div class="col-md-12" style=" margin-top:3%; margin-left: 7%">
                <div class="col-md-3" style="margin-top: auto;">
                    <div class="panel panel-primary">
                        <div class="cabecera">

                        </div>

                        <div class="panel-body" style="text-align: center;"  >
                            <div class="titulo"><b>FORMACIÒN ACADEMICA</b></div>
                            <br/>    <div class="col-md-12" style="font-size: 500%;"><i style="color:rgba(0, 0, 0, 0.35);" class="fa fa-graduation-cap"></i></div>

                            <div style="text-align: center;" class="col-md-12">
                                <br/>     <a href="{{ path('formacionacademicaCurriculum',{cur: curriculum}) }}" style="height: auto; background: #428bca;" class="btn btn-primary btn-xs" title="Editar Formaciòn Academica">ADMINISTRAR</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-3" style="margin-top: auto;">
                    <div class="panel panel-primary">
                        <div class="cabecera">

                        </div>
                        <div class="panel-body" style="text-align: center;" >
                            <div class="titulo"><b>EXPERIENCIA LABORAL</b></div>
                            <br/>   <div class="col-md-12" style="font-size: 500%;"><i style="color:rgba(0, 0, 0, 0.35);" class="fa fa-user"></i></div>

                            <div style="text-align: center;" class="col-md-12">
                                <br/>   <a href="{{ path('secretaria_experiencialaboral',{cur: curriculum}) }}" style="height: auto; background: #428bca;" class="btn btn-primary btn-xs" title="Editar Experiencia">ADMINISTRAR</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="margin-top: auto;">
                    <div class="panel panel-primary">
                        <div class="cabecera">

                        </div>
                        <div class="panel-body" style="text-align: center;" >
                            <div class="titulo"><b>REFERENCIA LABORAL</b></div>
                            <br/>  <div class="col-md-12" style="font-size: 500%;"><i style="color:rgba(0, 0, 0, 0.35);" class="fa fa-book" aria-hidden="true"></i></div>

                            <div style="text-align: center;" class="col-md-12">
                                <br/>   <a href="{{ path('secretaria_referencialaboral',{cur: curriculum}) }}" style="height: auto; background: #428bca;" class="btn btn-primary btn-xs" title="Editar Experiencia">ADMINISTRAR</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
 {#fin del recuadro #}

            <div class="col-md-12" style="margin-left: 7%">


                <div class="col-md-3" style="margin-top: auto;">
                    <div class="panel panel-primary">
                        <div class="cabecera">
                        </div>
                        <div class="panel-body" style="text-align: center;" >
                             <div class="titulo"><b>OTRAS COMPETENCIAS</b></div>
                            <br/><div class="col-md-12" style="font-size: 500%;"><i style="color:rgba(0, 0, 0, 0.35);" class="glyphicon glyphicon-list-alt glyphicon-4x"></i></div>

                            <div style="text-align: center;" class="col-md-12">
                                <br/>       <a href="{{ path('secretaria_otrascompetencias',{cur: curriculum}) }}" style="height: auto; background: #428bca;" class="btn btn-primary btn-xs" title="Editar Publicaciòn">ADMINISTRAR</a>
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="col-md-3" style="margin-top: auto;">
                    <div class="panel panel-primary">
                        <div class="cabecera">
                        </div>
                        <div class="panel-body" style="text-align: center;" >
                            <div class="titulo"><b>Idiomas</b></div>
                            <br/>  <div class="col-md-12" style="font-size: 500%;"><i style="color:rgba(0, 0, 0, 0.35);" class="fa fa-comment-o"></i></div>

                            <div style="text-align: center;" class="col-md-12">
                                <br/>     <a href="{{ path('idioma',{cur: curriculum}) }}" style="height: auto; background: #428bca;" class="btn btn-primary btn-xs" title="Editar Asociaciòn">ADMINISTRAR</a>
                            </div>
                        </div>
                    </div>
                </div>



            </div>



       </div> </div> </div>
    {% endblock %}
